@using System.Data;
@model DataTable
@{
    
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/form_public.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/form_public.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.css" />
    <style type="text/css">
        /*排名页面样式*/
        .user_img {
            height: 80px;
            border-radius: 50%;
            border: solid 1px #cf9354;
        }

        .xun_user_name {
            color: #000000 !important;
            font-size: 18px;
            font-weight: 600;
        }

        .mingci {
            font-size: 24px;
            color: #cf9354;
        }

        i {
            cursor: pointer;
        }

            i:hover {
                color: #cf9354;
            }

        .rank_map {
            width: 1200px;
            margin: auto;
        }

        .three_map {
            background: url(../img/rank_bj.png);
            width: 100%;
            height: 400px;
            border-radius: 5px;
            padding: 1px;
            color: #333333;
            webkit-box-shadow: 0 0 30px rgba(121, 113, 113, 0.5);
            -moz-box-shadow: 0 0 30px rgba(121, 113, 113, 0.5);
            box-shadow: 0 0 15px rgba(121, 113, 113, 0.5);
        }

            .three_map h2 {
                font-size: 22px;
                text-align: center;
                margin-top: 15px;
                font-weight: 600;
            }

        .mingci_map {
            width: 500px;
            margin: auto;
            margin-top: 15px;
            text-align: center;
            color: #666666;
        }

        .user_ming img {
            margin: 10px 0px;
            width: 45px;
            border-radius: 50%;
        }

        .first_ming {
            width: 70px;
            height: 100px;
            margin: auto;
            background: url(../img/ico_rank1.png) center no-repeat;
        }

            .first_ming img {
                width: 56px;
                border-radius: 50%;
                margin-top: 38px;
                margin-left: 2px;
            }

        .bold {
            font-weight: 600;
        }

        .rest_rank {
            margin-top: 15px;
            padding: 0px 40px;
            color: #666666;
            text-align: center;
        }

            .rest_rank ul li {
                float: left;
                padding: 0px 20px;
                margin: 0px 30px;
                width:95px;
            }

        .rest_num {
            border: 1px solid #3487f5;
            color: #3487f5;
            font-weight: 600;
            font-size: 14px;
            border-radius: 3px;
            padding: 3px 15px;
        }

        .rank_map table {
            text-align: center;
        }

            .rank_map table th {
                border: 1px solid #dddddd;
                color: #333333;
                text-align: center;
                padding: 15px 0px;
            }

            .rank_map table tr td {
                border: 1px solid #dddddd;
                font-size: 16px;
                padding: 5px;
            }

        .table_left {
            float: left;
            width: 40%;
        }

            .table_left table {
                width: 100%;
            }

        .table_right {
            float: left;
            width: 60%;
            overflow-x: scroll;
        }

            .table_right table {
                width: 300%;
            }

                /*.table_right table tr td {
                    width: 105px !important;
                }*/
        /*排名页面样式结束*/
    </style>
</head>
<body>
    <input type="hidden" value="@ViewBag.rankid" id="rankid" />

    <!-------------勋章内容开始------------->
    <div style="width: 1200px;margin: auto;">
        <!--面包屑开始-->
        <div class="crumbs_map">
            你当前所在的位置：查看排名
        </div>
        <!--面包屑结束-->
    </div>

    <!-------------排名开始------------->
    <div class="rank_map">
        <!--前十名-->
        <div class="three_map">
            <h2>@(ViewBag.rank_name)</h2>
            <div class="mingci_map">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="m-t-xl"><img src="../img/ico_rank2.png" /></p>
                        <p class="user_ming">@*<img src="../img/a1.jpg" />*@
                        @if (@Model.Rows[1]["UI_UserPic"].ToString() == "" || @Model.Rows[1]["UI_UserPic"] == null)
                        {
                            <img src="/Img/xguse.png" />
                        }
                        else
                        {
                            <img src="@Model.Rows[1]["UI_UserPic"]" />
                        }</p>
                        <p><span>@Model.Rows[1]["stuName"]</span> </p>
                    </div>

                    <div class="col-sm-4">
                        <div class="first_ming">
                            @*<img src="/Img/xguse.png" />*@
                            @if (@Model.Rows[0]["UI_UserPic"].ToString() == "" || @Model.Rows[0]["UI_UserPic"] == null)
                            {
                                <img src="/Img/xguse.png" />
                            }
                            else
                            {
                                <img src="@Model.Rows[0]["UI_UserPic"]" />
                            }
                        </div>
                        <p class="bold m-t-sm"><span>@Model.Rows[0]["stuName"]</span> </p>

                    </div>

                    <div class="col-sm-4">
                        <p class="m-t-xl"><img src="../img/ico_rank3.png" /></p>
                        <p class="user_ming">@*<img src="/Img/xguse.png" />*@
                            @if (@Model.Rows[2]["UI_UserPic"].ToString() == "" || @Model.Rows[2]["UI_UserPic"] == null)
                            {
                                <img src="/Img/xguse.png" />
                            }
                            else
                            {
                                <img src="@Model.Rows[2]["UI_UserPic"]" />
                            }
                        </p>
                        <p><span>@Model.Rows[2]["stuName"]</span> </p>
                    </div>
                </div>
            </div>

            <div class="rest_rank">
                <ul>
                    @for (int i = 3; i < Model.Rows.Count; i++)
                    {
                        //只显示前十名
                        if (i < 10)
                        {
                            <li>
                                <p><span class="rest_num">@(i + 1)</span> </p>
                                <p class="user_ming">@*<img src="/Img/xguse.png" />*@
                                    @if (@Model.Rows[i]["UI_UserPic"].ToString() == "" || @Model.Rows[i]["UI_UserPic"] == null)
                                    {
                                        <img src="/Img/xguse.png" />
                                    }
                                    else
                                    {
                                        <img src="@Model.Rows[i]["UI_UserPic"]" />
                                    }
                                </p>
                                <p><span>@Model.Rows[i]["stuName"]</span> </p>
                            </li>
                        }
                    }
                    
                </ul>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-sm-12">
                <span class="bold m-t-sm fl">全体排名</span>
                <div class="search_public fr" style="margin-top: 0px;">
                    <input type="text" placeholder="请输入账号/姓名" id="stu" autocomplete="off">
                    <button class="search_btn" type="button" id="btn_search"></button>
                </div>
            </div>
        </div>

        <!--排名table-->
        <div class="rank_map" id="rank">

            
        </div>

                <!--分页-->
                <div class="con_bottom" style="margin-top: 40px;">
                    
                </div>
                <!--分页结束-->
            </div>


            <!-------------底部------------->
           
</body>
</html>
<script src="~/Js/Student/ExamRank.js"></script>