@{
    ViewBag.Title = "Form_120214";
    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
}


 
<link href="~/CSS/danju/css/menupublic.css" rel="stylesheet" />
<link href="~/CSS/danju/css/menu015.css" rel="stylesheet" />


<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
    <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
    <input type="hidden" id="mid" name="mid" value="@Request["mid"]" />
    <input type="hidden" id="Types" name="Types" value="2" />
    <!--内容表单区域开始-->
    <div class="from_map015">
        <input class="inputall site1 " type="text" name="dy01" id="dy01" value="" />
        <input class="inputall site2 text_center" maxlength="4" type="text" name="dy02" id="dy02" value="" />
        <input class="inputall site3 text_center" maxlength="2" type="text" name="dy03" id="dy03" value="" />
        <input class="inputall site4 text_center" maxlength="2" type="text" name="dy04" id="dy04" value="" />

        <input class="inputall site5 " type="text" name="dy05" id="dy05" value="" />
        <input class="inputall site6 " type="text" name="dy06" id="dy06" value="" />


        <input class="inputall site7 " type="text" name="dy07" id="dy07" value="" />
        <input class="inputall site8 " type="text" name="dy08" id="dy08" value="" />

        <input class="inputall site9 " type="text" name="dy09" id="dy09" value="" />
        <input class="inputall site10 " type="text" name="dy010" id="dy010" value="" />


        <textarea class="inputall site11 " name="dy011" id="dy011" rows="" cols=""></textarea>
        <textarea class="inputall site12 " name="dy012" id="dy012" rows="" cols=""></textarea>

        <textarea class="inputall site13 " name="dy013" id="dy013" rows="" cols=""></textarea>
        <input class="inputall site14 " type="text" name="dy014" id="dy014" value="" />
        <input class="inputall site15 text_center" type="text" name="dy015" id="dy015" value="" />
        <input class="inputall site16 text_center" maxlength="4" type="text" name="dy016" id="dy016" value="" />
        <input class="inputall site17 text_center" maxlength="2" type="text" name="dy017" id="dy017" value="" />
        <input class="inputall site18 text_center" maxlength="2" type="text" name="dy018" id="dy018" value="" />

        <button class="btn_chongzhi" type="button" value="重置" onclick="FormReset()">重置</button>
        <button class="btn_tijiao" type="button" value="提交" onclick="SubmitForm()">提交</button>

    </div>


</form>
