@{
    ViewBag.Title = "Form_120210";
    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
}


 
<link href="~/CSS/danju/css/menupublic.css" rel="stylesheet" />
<style type="text/css">
    .from_map036 {
        width: 1100px;
        margin: auto;
        position: relative;
        background: url(/CSS/danju/img/danjuimg/menu036.jpg) no-repeat top;
        height: 2220px;
    }

    .site1 {
        width: 90px;
        height: 25px;
        left: 425px;
        top: 348px;
    }

    .site2 {
        width: 65px;
        height: 25px;
        left: 555px;
        top: 348px;
    }

    .site3 {
        width: 65px;
        height: 25px;
        left: 657px;
        top: 348px;
    }

    .site4 {
        width: 30px;
        height: 25px;
        left: 470px;
        top: 1058px;
    }

    .site6 {
        width: 275px;
        height: 25px;
        left: 361px;
        top: 1545px;
    }

    .site7 {
        width: 68px;
        height: 25px;
        left: 503px;
        top: 1756px;
    }

    .site8 {
        width: 33px;
        height: 25px;
        left: 592px;
        top: 1756px;
    }

    .site9 {
        width: 27px;
        height: 25px;
        left: 641px;
        top: 1756px;
    }

    .site10 {
        width: 55px;
        height: 25px;
        left: 710px;
        top: 1756px;
    }

    .site11 {
        width: 44px;
        height: 25px;
        left: 792px;
        top: 1754px;
    }

    .site12 {
        width: 44px;
        height: 25px;
        left: 863px;
        top: 1754px;
    }

    .site13 {
        width: 120px;
        height: 25px;
        left: 400px;
        top: 1995px;
    }

    .site14 {
        width: 120px;
        height: 25px;
        left: 840px;
        top: 1995px;
    }

    .site15 {
        width: 80px;
        height: 25px;
        left: 150px;
        top: 2025px;
    }

    .site16 {
        width: 42px;
        height: 25px;
        left: 260px;
        top: 2025px;
    }

    .site17 {
        width: 42px;
        height: 25px;
        left: 330px;
        top: 2025px;
    }

    .site18 {
        width: 80px;
        height: 25px;
        left: 615px;
        top: 2025px;
    }

    .site19 {
        width: 44px;
        height: 25px;
        left: 722px;
        top: 2025px;
    }

    .site20 {
        width: 44px;
        height: 25px;
        left: 790px;
        top: 2025px;
    }

    .site21 {
        width: 690px;
        height: 25px;
        left: 210px;
        top: 605px;
        text-align: left !important;
    }
    .site22 {
        width: 690px;
        height: 25px;
        left: 210px;
        top: 640px;
        text-align: left!important;
    }
</style>


<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
    <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
    <input type="hidden" id="mid" name="mid" value="@Request["mid"]" />
    <input type="hidden" id="Types" name="Types" value="2" />
    <!--内容表单区域开始-->
    <div class="from_map036">
        <input class="inputall site1 text_center" maxlength="4" type="text" name="dy01" id="dy01" value="" />
        <input class="inputall site2 text_center" maxlength="2" type="text" name="dy02" id="dy02" value="" />
        <input class="inputall site3 text_center" maxlength="2" type="text" name="dy03" id="dy03" value="" />
        <input class="inputall site4 " type="text" name="dy04" id="dy04" value="" />
        <input class="inputall site5 " type="text" name="dy05" id="dy05" value="" />
        <input class="inputall site6 " type="text" name="dy06" id="dy06" value="" />
        <input class="inputall site7 text_center" maxlength="4" type="text" name="dy07" id="dy07" value="" />
        <input class="inputall site8 text_center" maxlength="2" type="text" name="dy08" id="dy08" value="" />
        <input class="inputall site9 text_center" maxlength="2" type="text" name="dy09" id="dy09" value="" />

        <input class="inputall site10 text_center" maxlength="4" type="text" name="dy010" id="dy010" value="" />
        <input class="inputall site11 text_center" maxlength="2" type="text" name="dy011" id="dy011" value="" />
        <input class="inputall site12 text_center" maxlength="2" type="text" name="dy012" id="dy012" value="" />
        <input class="inputall site13 " type="text" name="dy013" id="dy013" value="" />
        <input class="inputall site14 " type="text" name="dy014" id="dy014" value="" />

        <input class="inputall site15 text_center" maxlength="4" type="text" name="dy015" id="dy015" value="" />
        <input class="inputall site16 text_center" maxlength="2" type="text" name="dy016" id="dy016" value="" />
        <input class="inputall site17 text_center" maxlength="2" type="text" name="dy017" id="dy017" value="" />

        <input class="inputall site18 text_center" maxlength="4" type="text" name="dy018" id="dy018" value="" />
        <input class="inputall site19 text_center" maxlength="2" type="text" name="dy019" id="dy019" value="" />
        <input class="inputall site20 text_center" maxlength="2" type="text" name="dy020" id="dy020" value="" />

        <input class="inputall site21 text_center" maxlength="2" type="text" name="dy021" id="dy021" value="" />
        <input class="inputall site22 text_center" maxlength="2" type="text" name="dy022" id="dy022" value="" />



        <button class="btn_chongzhi" type="button" value="重置" onclick="FormReset()">重置</button>
        <button class="btn_tijiao" type="button" value="提交" onclick="SubmitForm()">提交</button>
    </div>


</form>
