@{
    ViewBag.Title = "撤销银行结算账户申请书";
    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
}
<link href="~/CSS/danju/css/menu07.css" rel="stylesheet" />
<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
    <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
    <input type="hidden" id="mid" name="mid" value="@Request["mid"]" />
    <input type="hidden" id="Types" name="Types" value="2" />

    <!--表单内容 选择正确答案-->
    <div class="from_map07">
        <input class="inputall site1" type="text" name="dy01" id="dy01" value="" />
        <input class="inputall site2" type="text" name="dy02" id="dy02" value="" />
        <input class="inputall site3" type="text" name="dy03" id="dy03" value="" />
        <input class="inputall site4" type="text" name="dy04" id="dy04" value="" />

        <input class="inputall site5" type="checkbox" name="dy05" id="dy05" value="1" />
        <input class="inputall site6" type="checkbox" name="dy06" id="dy06" value="1" />
        <input class="inputall site7" type="checkbox" name="dy07" id="dy07" value="1" />
        <input class="inputall site8" type="checkbox" name="dy08" id="dy08" value="1" />
        <input class="inputall site9" type="checkbox" name="dy09" id="dy09" value="1" />

        <input class="inputall site10" type="text" name="dy010" id="dy010" value="" />
        <input class="inputall site11" type="text" name="dy011" id="dy011" value="" />

        <textarea class="inputall site12" name="dy012" id="dy012" rows="" cols=""></textarea>

        <input class="inputall site13" type="text" name="dy013" id="dy013" value="" />
        <input class="inputall site14 text_center" maxlength="4" type="text" name="dy014" id="dy014" value="" />
        <input class="inputall site15 text_center" maxlength="2" type="text" name="dy015" id="dy015" value="" />
        <input class="inputall site16 text_center" maxlength="2" type="text" name="dy016" id="dy016" value="" />

        <input class="inputall site17" type="text" name="dy017" id="dy017" value="" />
        <input class="inputall site18" type="text" name="dy018" id="dy018" value="" />
        <input class="inputall site19 text_center" maxlength="4" type="text" name="dy019" id="dy019" value="" />
        <input class="inputall site20 text_center" maxlength="2" type="text" name="dy020" id="dy020" data-type="月" value="" />
        <input class="inputall site21 text_center" maxlength="2" type="text" name="dy021" id="dy021" data-type="日" value="" />

        <button class="btn_chongzhi" type="button" value="重置" onclick="btnReset()">重置</button>
        <button class="btn_tijiao" type="button" value="提交" onclick="btnSubmit()">提交</button>

    </div>


</form>
