@{
    ViewBag.Title = "Form_140301";
    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
}



<link href="~/CSS/danju/css/menupublic.css" rel="stylesheet" />
<style type="text/css">
    .from_map033 {
        width: 700px;
        margin: auto;
        position: relative;
        background: url(/CSS/danju/img/danjuimg/jiabi.jpg) no-repeat top;
        height: 500px;
    }
</style>


<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
    <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
    <input type="hidden" id="mid" name="mid" value="@Request["mid"]" />
    <input type="hidden" id="Types" name="Types" value="2" />
    <!--内容表单区域开始-->
    <div class="from_map033">

    </div>


</form>
