@{
    ViewBag.Title = "Form_120209";
    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
}


 
<link href="~/CSS/danju/css/menupublic.css" rel="stylesheet" />
<style type="text/css">
    .from_map027 {
        width: 1100px;
        margin: auto;
        position: relative;
        background: url(/CSS/danju/img/danjuimg/menu027.jpg) no-repeat top;
        height: 1500px;
    }

    .site1 {
        width: 304px;
        height: 25px;
        left: 535px;
        top: 719px;
    }

    .site2 {
        width: 66px;
        height: 25px;
        left: 535px;
        top: 772px;
    }

    .site3 {
        width: 26px;
        height: 25px;
        left: 621px;
        top: 772px;
    }

    .site4 {
        width: 26px;
        height: 25px;
        left: 665px;
        top: 772px;
    }
</style>


<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
    <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
    <input type="hidden" id="mid" name="mid" value="@Request["mid"]" />
    <input type="hidden" id="Types" name="Types" value="2" />
    <!--内容表单区域开始-->
    <div class="from_map027">
        <input class="inputall site1 " type="text" name="dy01" id="dy01" value="" />
        <input class="inputall site2 text_center" maxlength="4" type="text" name="dy02" id="dy02" value="" />
        <input class="inputall site3 text_center" maxlength="2" type="text" name="dy03" id="dy03" value="" />
        <input class="inputall site4 text_center" maxlength="2" type="text" name="dy04" id="dy04" value="" />

        <button class="btn_chongzhi" type="button" value="重置" onclick="FormReset()">重置</button>
        <button class="btn_tijiao" type="button" value="提交" onclick="SubmitForm()">提交</button>

    </div>


</form>
