@{
    ViewBag.Title = "个人转账/汇款凭证";
    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
}
<link href="~/CSS/danju/css/menu01.css" rel="stylesheet" />
<form id="form1" onsubmit="return false" action="##" method="post">

    <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
    <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
    <input type="hidden" id="mid" name="mid" value="@Request["mid"]" />
    <input type="hidden" id="Types" name="Types" value="2" />

    <!--表单内容 选择正确答案-->
    <div class="from_map01">
        <input class="inputall site1" type="checkbox" name="dy01" id="dy01" value="1" />
        <input class="inputall site2" type="checkbox" name="dy02" id="dy02" value="1" />
        <input class="inputall site3 text_center" maxlength="4" type="text" name="dy03" id="dy03" value="" />
        <input class="inputall site4 text_center" maxlength="2" type="text" name="dy04" id="dy04" data-type="月" value="" />
        <input class="inputall site5 text_center" maxlength="2" type="text" name="dy05" id="dy05" data-type="日" value="" />
        <input class="inputall site6 " type="text" name="dy06" id="dy06" value="" />
        <input class="inputall site7" type="text" name="dy07" id="dy07" value="" />
        <input class="inputall site8" type="text" name="dy08" id="dy08" value="" />
        <input class="inputall site9" type="text" name="dy09" id="dy09" value="" />
        <input class="inputall site10" type="text" name="dy010" id="dy010" value="" />
        <input class="inputall site11" type="text" name="dy011" id="dy011" value="" />
        <textarea class="inputall site12" name="dy012" id="dy012" name="" rows="" cols=""></textarea>
        <input class="inputall site13" type="text" name="dy013" id="dy013" value="" />
        <input class="inputall site14" type="checkbox" name="dy014" id="dy014" value="1" />
        <input class="inputall site15" type="checkbox" name="dy015" id="dy015" value="1" />
        <input class="inputall site16" type="checkbox" name="dy016" id="dy016" value="1" />
        <input class="inputall site17" type="checkbox" name="dy017" id="dy017" value="1" />
        <input class="inputall site18" type="checkbox" name="dy018" id="dy018" value="1" />
        <!--金额-->
        <input class="inputall site19 text_center" maxlength="1" type="text" name="dy019" id="dy019" value="" />
        <input class="inputall site20 text_center" maxlength="1" type="text" name="dy020" id="dy020" value="" />
        <input class="inputall site21 text_center" maxlength="1" type="text" name="dy021" id="dy021" value="" />
        <input class="inputall site22 text_center" maxlength="1" type="text" name="dy022" id="dy022" value="" />
        <input class="inputall site23 text_center" maxlength="1" type="text" name="dy023" id="dy023" value="" />
        <input class="inputall site24 text_center" maxlength="1" type="text" name="dy024" id="dy024" value="" />
        <input class="inputall site25 text_center" maxlength="1" type="text" name="dy025" id="dy025" value="" />
        <input class="inputall site26 text_center" maxlength="1" type="text" name="dy026" id="dy026" value="" />
        <input class="inputall site27 text_center" maxlength="1" type="text" name="dy027" id="dy027" value="" />
        <input class="inputall site28 text_center" maxlength="1" type="text" name="dy028" id="dy028" value="" />


        <textarea class="inputall site29" name="dy029" id="dy029" name="" rows="" cols=""></textarea>

        <input class="inputall site30 " maxlength="8" type="text" name="dy030" id="dy030" value="" />
        <input class="inputall site31 " maxlength="8" type="text" name="dy031" id="dy031" value="" />
        <input class="inputall site32 " maxlength="8" type="text" name="dy032" id="dy032" value="" />
        <input class="inputall site33 " maxlength="8" type="text" name="dy033" id="dy033" value="" />



        <!--汇款种类-->
        <input class="inputall site34" type="checkbox" name="dy034" id="dy034" value="1" />
        <input class="inputall site35" type="checkbox" name="dy035" id="dy035" value="1" />
        <input class="inputall site36" type="checkbox" name="dy036" id="dy036" value="1" />
        <input class="inputall site37 " maxlength="20" type="text" name="dy037" id="dy037" value="" />
        <input class="inputall site38 " type="text" name="dy038" id="dy038" value="" />
        <input class="inputall site39 " type="text" name="dy039" id="dy039" value="" />
        <input class="inputall site40 " type="text" name="dy040" id="dy040" value="" />

        <input class="inputall site41" type="checkbox" name="dy041" id="dy041" value="1" />
        <input class="inputall site42" type="checkbox" name="dy042" id="dy042" value="1" />
        <input class="inputall site43" type="checkbox" name="dy043" id="dy043" value="1" />
        <input class="inputall site44" type="checkbox" name="dy044" id="dy044" value="1" />


        <input class="inputall site45" type="text" name="dy045" id="dy045" value="" />
        <input class="inputall site46" type="text" name="dy046" id="dy046" value="" />
        <input class="inputall site47" type="text" name="dy047" id="dy047" value="" />
        <input class="inputall site48" type="text" name="dy048" id="dy048" value="" />


        <input class="inputall site49" type="text" name="dy049" id="dy049" value="" />

        <input class="inputall site50" type="text" name="dy050" id="dy050" value="" />

        <input class="inputall site51" type="checkbox" name="dy051" id="dy051" value="1" />

        <input class="inputall site52" type="checkbox" name="dy052" id="dy052" value="1" />

        <input class="inputall site53" type="text" name="dy053" id="dy053" value="" />


        <!-- 身份证号码-->
        <input class="inputall site54 text_center" maxlength="1" type="text" name="dy054" id="dy054" value="" />
        <input class="inputall site55 text_center" maxlength="1" type="text" name="dy055" id="dy055" value="" />
        <input class="inputall site56 text_center" maxlength="1" type="text" name="dy056" id="dy056" value="" />
        <input class="inputall site57 text_center" maxlength="1" type="text" name="dy057" id="dy057" value="" />
        <input class="inputall site58 text_center" maxlength="1" type="text" name="dy058" id="dy058" value="" />
        <input class="inputall site59 text_center" maxlength="1" type="text" name="dy059" id="dy059" value="" />
        <input class="inputall site60 text_center" maxlength="1" type="text" name="dy060" id="dy060" value="" />

        <input class="inputall site61 text_center" maxlength="1" type="text" name="dy061" id="dy061" value="" />
        <input class="inputall site62 text_center" maxlength="1" type="text" name="dy062" id="dy062" value="" />
        <input class="inputall site63 text_center" maxlength="1" type="text" name="dy063" id="dy063" value="" />
        <input class="inputall site64 text_center" maxlength="1" type="text" name="dy064" id="dy064" value="" />
        <input class="inputall site65 text_center" maxlength="1" type="text" name="dy065" id="dy065" value="" />

        <input class="inputall site66 text_center" maxlength="1" type="text" name="dy066" id="dy066" value="" />
        <input class="inputall site67 text_center" maxlength="1" type="text" name="dy067" id="dy067" value="" />
        <input class="inputall site68 text_center" maxlength="1" type="text" name="dy068" id="dy068" value="" />
        <input class="inputall site69 text_center" maxlength="1" type="text" name="dy069" id="dy069" value="" />
        <input class="inputall site70 text_center" maxlength="1" type="text" name="dy070" id="dy070" value="" />
        <input class="inputall site71 text_center" maxlength="1" type="text" name="dy071" id="dy071" value="" />

        <input class="inputall site72" type="text" name="dy072" id="dy072" value="" />
        <input class="inputall site73" type="text" name="dy073" id="dy073" value="" />
        <textarea class="inputall site74" name="dy074" id="dy074" name="" rows="" cols=""></textarea>

        <button class="btn_chongzhi" type="button" value="重置" onclick="btnReset()">重置</button>
        <button class="btn_tijiao" type="button" value="提交" onclick="btnSubmit()">提交</button>

    </div>


</form>
    
