@{
                    ViewBag.Title = "Form_010301";
                    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
                }
<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
    <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
    <input type="hidden" id="Types" name="Types" value="2" />
    <!--内容表单区域开始-->
    <div class="tables bankmap">
        <div class="banktop">
            <span class="toolbar-title-img">
                <img src="../busi/img/topleft.png">02306-个人挂失业务
            </span> <span class="toolbar-title-close" style="display: none;"> </span>
        </div>
        <div class="con-map2 selected">
            <table id="qv" class="con-map2-table qv">
                <tbody>
                    <tr>
                        <td class="" style="width: 64px;">
                            <label vl-default="" id="label_gsfs" vtitle="挂s失i方s式" class="form-item text-left" vl-tipsid="label_gsfs_tips" title="label_gsfs" name="label_gsfs">
                                挂<s></s>失<i></i>方<s></s>式
                            </label>
                            <div id="label_gsfs_tips" class="tipsmsg"></div>
                        </td>
                        <td class="">
                            <div class="slectstyle">
                                <select vl-default="1" id="sle_gsfs" vtitle="挂失方式" class="form-item text-left" vl-tipsid="sle_gsfs_tips" vl-regex="['require']" vl-message="['挂失方式不能为空！']" style="width: 180px;" title="sle_gsfs" vl-slemodel="pwd_zqmm,sle_gslx" name="sle_gsfs">
                                    <option disabled="" style="background-color: blue; color: #fff;" value="">挂失方式值含义</option>
                                    <option sle-require="[{'id':'pwd_zqmm','regex':['require','number','minlength6','maxlength6'],'tips':['支取密码不能为空！','支取密码输入错误!','支取密码长度:[6]!','支取密码长度:[6]!'],'disabled':'false','default':''},{'id':'sle_gslx','regex':[''],'tips':[''],'disabled':'true','default':'Y'}]" value="1">1 - 口挂</option>
                                    <option sle-require="[{'id':'pwd_zqmm','regex':['require','number','minlength6','maxlength6'],'tips':['支取密码不能为空！','支取密码输入错误!','支取密码长度:[6]!','支取密码长度:[6]!'],'disabled':'false','default':''},{'id':'sle_gslx','regex':[''],'tips':[''],'disabled':'false','default':'Y'}]" value="2">2 - 书挂</option>
                                    <option sle-require="[{'id':'pwd_zqmm','regex':['number','minlength6','maxlength6'],'tips':['支取密码输入错误!','支取密码长度:[6]!','支取密码长度:[6]!'],'disabled':'true','default':''},{'id':'sle_gslx','regex':[''],'tips':[''],'disabled':'false','default':'Y'}]" value="4">4 - 密兼书挂</option>
                                </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_GuaShiFangShi_2" name="mb1_sleinput_GuaShiFangShi_2">
                            </div>
                            <div id="sle_gsfs_tips" class="tipsmsg"></div>
                        </td>
                        <td class="" style="width: 64px;">
                            <label vl-default="" id="label_gslx" vtitle="挂i失i类i型" class="form-item text-left" vl-tipsid="label_gslx_tips" title="label_gslx" name="label_gslx">
                                挂<i></i>失<i></i>类<i></i>型
                            </label>
                            <div id="label_gslx_tips" class="tipsmsg"></div>
                        </td>
                        <td class="">
                            <div class="slectstyle">
                                <select vl-default="" id="sle_gslx" vl-disabled="true" vtitle="挂失类型" class="form-item text-left" vl-tipsid="sle_gslx_tips" vl-regex="['require']" vl-message="['挂失类型不能为空!']" style="width: 180px;" title="sle_gslx" vl-slemodel="" name="sle_gslx">
                                    <option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">挂失类型值含义</option>
                                    <option value="N">N - 介质挂失</option>
                                    <option value="Y">Y - 账户挂失</option>
                                </select><input type="text" oncopy="return false" value="" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_GuaShiLeiXing_4" name="mb1_sleinput_GuaShiLeiXing_4">
                            </div>
                            <div id="sle_gslx_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="" style="width: 55px;">
                            <label vl-default="" id="label_zkh" vtitle="账i/s卡i号" class="form-item text-left" vl-tipsid="label_zkh_tips" title="label_zkh" name="label_zkh">
                                账<i></i>/<s></s>卡<i></i>号
                            </label>
                            <div id="label_zkh_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="3" class="">
                            <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zkh" vtitle="账/卡号" class="form-item text-left on" kuaicha="true" vl-tipsid="txt_zkh_tips" vl-regex="['require', 'number', 'maxlength32']" vl-message="['账/卡号不能为空!','账/卡号只能为数字!','账/卡号长度大于最大长度:[32]!']" style="width: 600px;" title="txt_zkh" onpaste="return false" name="txt_zkh"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="txt_hm|1|0,sle_jzzl|1|0,txt_xzqhdm|1|0,txt_pzhm|1|0,txt_tgsrq|1|0,sle_zqfs|1|0,txt_hm|1|0,sle_jzzl|1|0,txt_xzqhdm|1|0,txt_pzhm|1|0,txt_tgsrq|1|0,sle_zqfs|1|0,txt_hm|1|0,sle_jzzl|1|0,txt_xzqhdm|1|0,txt_pzhm|1|0,txt_tgsrq|1|0,sle_zqfs|1|0" vl-exec="false" vl-message="['账/卡号查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
                            <div id="txt_zkh_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="" style="width: 32px;">
                            <label vl-default="" id="label_hm" vtitle="户iiii名" class="form-item text-left" vl-tipsid="label_hm_tips" title="label_hm" name="label_hm">
                                户<i></i><i></i><i></i><i></i>名
                            </label>
                            <div id="label_hm_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_hm" vtitle="户名" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_hm_tips" style="width: 180px;" title="txt_hm" onpaste="return false" disabled="disabled" name="txt_hm">
                            <div id="txt_hm_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_jzzl" vtitle="介i质i种i类" class="form-item text-left" vl-tipsid="label_jzzl_tips" title="label_jzzl" name="label_jzzl">
                                介<i></i>质<i></i>种<i></i>类
                            </label>
                            <div id="label_jzzl_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <div class="slectstyle">
                                <select vl-default="" id="sle_jzzl" vtitle="介质种类" class="form-item text-left" vl-tipsid="sle_jzzl_tips" style="width: 180px;" title="sle_jzzl" vl-slemodel="" vl-disabled="true" disabled="disabled" name="sle_jzzl">
                                    <option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">介质种类值含义</option>
                                    <option value="001">001 - 储蓄存折</option>
                                    <option value="002">002 - 惠农一折通专用存折</option>
                                    <option value="003">003 - 定期一本通</option>
                                    <option value="004">004 - 储蓄存单</option>
                                    <option value="005">005 - 信合借记卡IC卡</option>
                                    <option value="006">006 - 福农卡IC卡</option>
                                    <option value="007">007 - 合医卡IC卡</option>
                                    <option value="008">008-信合社保卡</option>
                                    <option value="009">009 - 信合居民健康卡</option>
                                    <option value="010">010 - 信合公务IC卡</option>
                                    <option value="011">011 - 股金证</option>
                                    <option value="012">012 - 单位定期存款开户证实书</option>
                                    <option value="013">013 - 单位定期存单</option>
                                    <option value="014">014 - 现金支票</option>
                                    <option value="015">015 - 转账支票</option>
                                    <option value="016">016 - 农信银银行汇票</option>
                                    <option value="017">017 - 银行承兑汇票</option>
                                    <option value="018">018 - 非税收入缴款书</option>
                                    <option value="019">019 - 印鉴卡</option>
                                    <option value="020">020 - 支付业务来账补充凭证</option>
                                    <option value="021">021 - U盾</option>
                                    <option value="022">022 - 贷款证（卡）</option>
                                    <option value="023">023 - VIP贵宾卡</option>
                                    <option value="024">024 - 存（贷）款余额证明书</option>
                                    <option value="025">025 - 存款发生额证明</option>
                                    <option value="026">026 - 开销户证明书</option>
                                    <option value="027">027 - 机构信用代码证</option>
                                    <option value="028">028 - 空头支票代收罚款收据</option>
                                    <option value="029">029 - 假币收缴凭证</option>
                                    <option value="030">030 - 人寿保险单</option>
                                    <option value="031">031 - 国寿保险单</option>
                                    <option value="032">032 - 股权凭证</option>
                                    <option value="033">033 - 联名卡</option>
                                    <option value="035">035 - 信合磁条卡</option>
                                </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_JieZhiZhongLei_10" name="mb1_sleinput_JieZhiZhongLei_10">
                            </div>
                            <div id="sle_jzzl_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_xzqhdm" vtitle="行政区划代码" class="form-item text-left on" vl-tipsid="label_xzqhdm_tips" style="width: 160px;" title="label_xzqhdm" name="label_xzqhdm">行政区划代码</label>
                            <div id="label_xzqhdm_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_xzqhdm" vtitle="行政区划代码" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_xzqhdm_tips" style="width: 180px;" title="txt_xzqhdm" onpaste="return false" disabled="disabled" name="txt_xzqhdm">
                            <div id="txt_xzqhdm_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_pzhm" vtitle="凭i证i号i码" class="form-item text-left" vl-tipsid="label_pzhm_tips" title="label_pzhm" name="label_pzhm">
                                凭<i></i>证<i></i>号<i></i>码
                            </label>
                            <div id="label_pzhm_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_pzhm" vtitle="凭证号码" class="form-item text-left on" vl-disabled="true" vl-tipsid="txt_pzhm_tips" style="width: 180px;" title="txt_pzhm" onpaste="return false" disabled="disabled" name="txt_pzhm">
                            <div id="txt_pzhm_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_ygszt" vtitle="原s挂失s状态" class="form-item text-left" vl-tipsid="label_ygszt_tips" title="label_ygszt" name="label_ygszt">
                                原<s></s>挂失<s></s>状态
                            </label>
                            <div id="label_ygszt_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <div class="slectstyle">
                                <select vl-default="" id="sle_ygszt" vtitle="原挂失状态" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_ygszt_tips" style="width: 180px;" title="sle_ygszt" vl-slemodel="" disabled="disabled" name="sle_ygszt">
                                    <option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">原挂失状态值含义</option>
                                    <option value="1">1 - 口挂</option>
                                    <option value="2">2 - 书挂</option>
                                    <option value="4">4 - 密兼书挂</option>
                                </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_YuanGuaShiZhuangTai_16" name="mb1_sleinput_YuanGuaShiZhuangTai_16">
                            </div>
                            <div id="sle_ygszt_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="" style="width: 80px;">
                            <label vl-default="" id="label_ygsrq" vtitle="原s挂s失s机s构" class="form-item text-left" vl-tipsid="label_ygsrq_tips" title="label_ygsrq" name="label_ygsrq">
                                原<s></s>挂<s></s>失<s></s>机<s></s>构
                            </label>
                            <div id="label_ygsrq_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_ygsjg" vtitle="原挂失机构" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_ygsjg_tips" style="width: 180px;" title="txt_ygsjg" onpaste="return false" disabled="disabled" name="txt_ygsjg">
                            <div id="txt_ygsjg_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_ygsrq" vtitle="原s挂失s日期" class="form-item text-left" vl-tipsid="label_ygsrq_tips" title="label_ygsrq" name="label_ygsrq">
                                原<s></s>挂失<s></s>日期
                            </label>
                            <div id="label_ygsrq_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_tgsrq" vtitle="原挂失日期" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_tgsrq_tips" style="width: 180px;" title="txt_tgsrq" onpaste="return false" disabled="disabled" name="txt_tgsrq">
                            <div id="txt_tgsrq_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="" style="width: 80px;">
                            <label vl-default="" id="label_ygslx" vtitle="原s挂s失s类s型" class="form-item text-left" vl-tipsid="label_ygslx_tips" title="label_ygslx" name="label_ygslx">
                                原<s></s>挂<s></s>失<s></s>类<s></s>型
                            </label>
                            <div id="label_ygslx_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <div class="slectstyle">
                                <select vl-default="" id="sle_ygslx" vtitle="原挂失类型" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_ygslx_tips" style="width: 180px;" title="sle_ygslx" vl-slemodel="" name="sle_ygslx">
                                    <option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">原挂失类型值含义</option>
                                    <option value="N">N - 介质挂失</option>
                                    <option value="Y">Y - 账户挂失</option>
                                </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_YuanGuaShiLeiXing_22" name="mb1_sleinput_YuanGuaShiLeiXing_22">
                            </div>
                            <div id="sle_ygslx_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_zqfs" vtitle="支s取i方s式" class="form-item text-left" vl-tipsid="label_zqfs_tips" title="label_zqfs" name="label_zqfs">
                                支<s></s>取<i></i>方<s></s>式
                            </label>
                            <div id="label_zqfs_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <div class="slectstyle">
                                <select vl-default="" id="sle_zqfs" vtitle="支取方式" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_zqfs_tips" style="width: 180px;" title="sle_zqfs" vl-slemodel="" disabled="disabled" name="sle_zqfs">
                                    <option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">支取方式值含义</option>
                                    <option value="1">1 - 密码</option>
                                    <option value="2">2 - 密码兼证件</option>
                                    <option value="3">3 - 无</option>
                                </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_ZhiQuFangShi_24" name="mb1_sleinput_ZhiQuFangShi_24">
                            </div>
                            <div id="sle_zqfs_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_zqmm" vtitle="支i取i密i码" class="form-item text-left" vl-tipsid="label_zqmm_tips" title="label_zqmm" name="label_zqmm">
                                支<i></i>取<i></i>密<i></i>码
                            </label>
                            <div id="label_zqmm_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <input type="password" oncopy="return false" onpaste="return false" maxlength="6" oncut="return false" vl-disabled="true" vl-default="" id="pwd_zqmm" vtitle="支取密码" class="form-item text-left" kuaicha="true" vl-tipsid="pwd_zqmm_tips" vl-regex="['number', 'minlength6', 'maxlength6']" vl-message="['支取密码输入错误!','支取密码长度:[6]!','支取密码长度:[6]!']" style="width: 180px;" title="pwd_zqmm" disabled="disabled" name="pwd_zqmm">
                            <img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['支取密码查询未执行！']" title="执行快查！">
                            <div id="pwd_zqmm_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_zjlx" vtitle="证s件i类s型" class="form-item text-left" vl-tipsid="label_zjlx_tips" title="label_zjlx" name="label_zjlx">
                                证<s></s>件<i></i>类<s></s>型
                            </label>
                            <div id="label_zjlx_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <div class="slectstyle">
                                <select vl-default="1" id="sle_zjlx" vtitle="证件类型" class="form-item text-left" vl-tipsid="sle_zjlx_tips" vl-regex="['require']" vl-message="['证件类型不能为空!']" style="width: 180px;" title="sle_zjlx" vl-slemodel="txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm,txt_zjhm" name="sle_zjlx">
                                    <option disabled="" style="background-color: blue; color: #fff;" value="">证件类型值含义</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码身份证号长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="1">1 - 居民身份证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码身份证号长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="2">2 - 临时居民身份证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码身份证号长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="3">3 - 居民户口簿（16周岁以下）</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码军官证不能为空!','证件号码军官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="4">4 - 军官证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码警官证不能为空!','证件号码警官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="5">5 - 警官证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码士兵证不能为空!','证件号码士兵证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="6">6 - 士兵证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码军队学员证不能为空!','证件号码军队学员证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="7">7 - 军队学员证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码军队文职干部证不能为空!','证件号码军队文职干部证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="8">8 - 军队文职干部证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码军队离退休干部证和军队职员证不能为空!','证件号码军队离退休干部证和军队职员证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="9">9 - 军队离退休干部证和军队职员证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码中国护照不能为空!','证件号码中国护照长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="10">10 - 中国护照</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码护照（外国公民）不能为空!','证件号码护照（外国公民）长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="11">11 - 护照（外国公民）</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码海员证不能为空!','证件号码海员证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="12">12 - 海员证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码港澳同胞回乡证不能为空!','证件号码港澳同胞回乡证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="13">13 - 港澳同胞回乡证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码港澳居民来往大陆通行证不能为空!','证件号码港澳居民来往大陆通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="14">14 - 港澳居民来往大陆通行证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码中华人民共和国网络港澳通行证不能为空!','证件号码中华人民共和国网络港澳通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="15">15 - 中华人民共和国网络港澳通行证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码台湾居民来往大陆通行证不能为空!','证件号码台湾居民来往大陆通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="16">16 - 台湾居民来往大陆通行证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码大陆居民往来台湾通行证不能为空!','证件号码大陆居民往来台湾通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="17">17 - 大陆居民往来台湾通行证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码外国人居留证不能为空!','证件号码外国人居留证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="18">18 - 外国人居留证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码外国人出入境证不能为空!','证件号码外国人出入境证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="19">19 - 外国人出入境证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码外交官证不能为空!','证件号码外交官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="20">20 - 外交官证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码领事馆证不能为空!','证件号码领事馆证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="21">21 - 领事馆证</option>
                                    <option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码其他不能为空!','证件号码其他长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="22">22 - 其他</option>
                                </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_ZhengJianLeiXing_28" name="mb1_sleinput_ZhengJianLeiXing_28">
                            </div>
                            <div id="sle_zjlx_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="" style="width: 64px;">
                            <label vl-default="" id="label_zjhm" vtitle="证i件i号i码" class="form-item text-left" vl-tipsid="label_zjhm_tips" title="label_zjhm" name="label_zjhm">
                                证<i></i>件<i></i>号<i></i>码
                            </label>
                            <div id="label_zjhm_tips" class="tipsmsg"></div>
                        </td>
                        <td rowspan="1" colspan="1" class="">
                            <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zjhm" vtitle="证件号码" class="form-item text-left" kuaicha="true" vl-tipsid="txt_zjhm_tips" vl-regex="['require', 'maxlength20', 'idcard']" vl-message="['证件号码不能为空!','证件号码身份证号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！']" style="width: 180px;" onpaste="return false" name="txt_zjhm"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['证件号码查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
                            <div id="txt_zjhm_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="con-map2">
            <div class="box">
                <ul class="tab">
                    <li title="tab_0_0" id="tab_0_0" class="tab_0_0 one">代理人信息</li>
                </ul>
                <div class="content">
                    <div class="ct" style="display: block;">
                        <table id="qv" class="con-map2-table qv">
                            <tbody>
                                <tr>
                                    <td class="" style="width: 112px;">
                                        <label vl-default="" id="label_dlrzjlx" vtitle="代理人证件类型" class="form-item text-left" vl-tipsid="label_dlrzjlx_tips" title="label_dlrzjlx" name="label_dlrzjlx">代理人证件类型</label>
                                        <div id="label_dlrzjlx_tips" class="tipsmsg"></div>
                                    </td>
                                    <td class="" rowspan="1" colspan="1">
                                        <div class="slectstyle">
                                            <select vl-default="" id="sle_dlrzjlx" vtitle="代理人证件类型" class="form-item text-left" vl-tipsid="sle_dlrzjlx_tips" style="width: 600px;" title="sle_dlrzjlx" vl-slemodel="
                                                        ,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs,txt_dlrzjhm,txt_dlrxm,txt_dlrlxfs" name="sle_dlrzjlx">
                                                <option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">代理人证件类型值含义</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength20','idcard'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''},{'id':'txt_dlrxm','regex':['require','hascode','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名不能全为数字!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="1">1 - 居民身份证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength20','idcard'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''},{'id':'txt_dlrxm','regex':['require','hascode','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名不能全为数字!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="2">2 - 临时居民身份证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength20','idcard'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''},{'id':'txt_dlrxm','regex':['require','hascode','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名不能全为数字!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="3">3 - 居民户口簿</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="4">4 - 军官证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="5">5 - 警官证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="6">6 - 士兵证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="7">7 - 军队学员证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="8">8 - 军队文职干部证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="9">9 - 军队离退休干部证和军队职工证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="10">10 - 中国护照</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="11">11 - 护照（外国公民）</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="12">12 - 海员证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="13">13 - 港澳同胞回乡证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="14">14 - 港澳居民来往内地通行证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="15">15 - 中华人民共和国来往港澳通行证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="16">16 - 台湾居民来往大陆通行证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="17">17 - 大陆居民来往台湾通行证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="18">18 - 外国人居留证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="19">19 - 外国人出入境证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="20">20 - 外交官证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="21">21 - 领事馆证</option>
                                                <option sle-require="[{'id':'txt_dlrzjhm','regex':['require','maxlength40'],'tips':['代理人证件号码不能为空!','代理人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_dlrxm','regex':['require','maxlength20'],'tips':['代理人姓名不能为空!','代理人姓名长度大于最大长度:[20]!'],'disabled':'false*false','default':''},{'id':'txt_dlrlxfs','regex':['maxlength15'],'tips':['代理人联系方式长度大于最大长度:[15]!'],'disabled':'false','default':''}]" value="22">22 - 其他</option>
                                            </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb2_sleinput_DaiLiRenZhengJianLeiXing_2" name="mb2_sleinput_DaiLiRenZhengJianLeiXing_2">
                                        </div>
                                        <div id="sle_dlrzjlx_tips" class="tipsmsg"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="1" colspan="1" class="" style="width: 112px;">
                                        <label vl-default="" id="label_dlrzjhm" vtitle="代理人证件号码" class="form-item text-left" vl-tipsid="label_dlrzjhm_tips" style="width: 160px;" title="label_dlrzjhm" name="label_dlrzjhm">代理人证件号码</label>
                                        <div id="label_dlrzjhm_tips" class="tipsmsg"></div>
                                    </td>
                                    <td rowspan="1" colspan="1" class="">
                                        <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_dlrzjhm" vtitle="代理人证件号码" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_dlrzjhm_tips" style="width: 600px;" title="txt_dlrzjhm" onpaste="return false" name="txt_dlrzjhm">
                                        <div id="txt_dlrzjhm_tips" class="tipsmsg"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="1" colspan="1" class="" style="width: 80px;">
                                        <label vl-default="" id="label_dlrxm" vtitle="代s理s人s姓s名" class="form-item text-left" vl-tipsid="label_dlrxm_tips" title="label_dlrxm" name="label_dlrxm">
                                            代<s></s>理<s></s>人<s></s>姓<s></s>名
                                        </label>
                                        <div id="label_dlrxm_tips" class="tipsmsg"></div>
                                    </td>
                                    <td rowspan="1" colspan="1" class="">
                                        <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_dlrxm" vtitle="代理人姓名" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_dlrxm_tips" style="width: 600px;" title="txt_dlrxm" onpaste="return false" name="txt_dlrxm">
                                        <div id="txt_dlrxm_tips" class="tipsmsg"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="1" colspan="1" class="" style="width: 112px;">
                                        <label vl-default="" id="label_dlrlxfs" vtitle="代理人联系方式" class="form-item text-left" vl-tipsid="label_dlrlxfs_tips" style="width: 160px;" title="label_dlrlxfs" name="label_dlrlxfs">代理人联系方式</label>
                                        <div id="label_dlrlxfs_tips" class="tipsmsg"></div>
                                    </td>
                                    <td rowspan="1" colspan="1" class="">
                                        <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_dlrlxfs" vtitle="代理人联系方式" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_dlrlxfs_tips" style="width: 600px;" title="txt_dlrlxfs" onpaste="return false" name="txt_dlrlxfs">
                                        <div id="txt_dlrlxfs_tips" class="tipsmsg"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="con-map2">
            <table id="qv" class="con-map2-table qv">
                <tbody>
                    <tr>
                        <td class="" rowspan="1" colspan="1" style="width: 64px;">
                            <label vl-default="" id="label_gszt" vtitle="挂失状态" class="form-item text-left" vl-tipsid="label_gszt_tips" style="width: 160px;" title="label_gszt" name="label_gszt">挂失状态</label>
                            <div id="label_gszt_tips" class="tipsmsg"></div>
                        </td>
                        <td class="">
                            <input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_gszt" vtitle="挂失状态" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_gszt_tips" style="width: 600px;" title="txt_gszt" onpaste="return false" disabled="disabled" name="txt_gszt">
                            <div id="txt_gszt_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="foot ">
            <span>
                <button>退出（F3）</button>
                <button>帮助（F1）</button>
                <button>辅助（F4）</button>
                <button type="button" onclick="FormReset()">重置（F5）</button>
            </span> <span style="float: right;">
                <button type="button" style="margin-right:0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button>
            </span>
        </div>
        <input type="hidden" class="hidmainwidth" value="1000" oncopy="return false" onpaste="return false" oncut="return false">
    </div>
    <script src="~/Js/Student/GetDefaultValue/common.bank.js"></script>
    <script src="~/Js/Student/GetDefaultValue/lodash.min.js"></script>
    <script src="~/Js/Student/GetDefaultValue/common.regex.cz.js"></script>
    <script src="~/Js/Student/GetDefaultValue/common.regex.js"></script>


    <script src="~/Js/Student/GetDefaultValue/js/layer.js"></script>
    <script src="~/Js/Student/GetDefaultValue/js/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Js/Student/GetDefaultValue/js/grgsyw.js"></script>

    <link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />
</form>

<script type="text/javascript">
    $("#sle_gslx").removeAttr('disabled');
    $("#mb1_sleinput_GuaShiLeiXing_4").removeAttr('disabled');
    
</script>
