@{
                    ViewBag.Title = "Form_062804";
                    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
                }
               <form id="form1" onsubmit="return false" action="##" method="post">
                   <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
                   <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                   <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
                   <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
                   <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                   <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                   <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
                   <input type="hidden" id="Types" name="Types" value="2" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="con-map selected"> <span class="top-title">基本信息 <span id="dianji_con" style="cursor: pointer;">▼</span></span>
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" style="width: 64px;"><label vl-default="" id="label_ywlx" vtitle="业务类型" class="form-item text-left on" vl-tipsid="label_ywlx_tips" title="label_ywlx">业务类型</label>
								<div id="label_ywlx_tips" class="tipsmsg"></div>
							</td>
							<td class="">
								<div class="slectstyle">
									<select vl-keyup="wwww" vl-default="" id="sle_ywlx" vtitle="业务类型" class="form-item text-left" vl-tipsid="sle_ywlx_tips" style="width: 160px;" vl-slemodel="sle_ywzl,sle_hkzhlx,sle_hkzhlx,txt_hkrzh,txt_hkrmc">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">业务类型值含义</option>
										<option sle-require="[{'id':'sle_ywzl','regex':['equal'],'tips':[''],'disabled':'false','default':'1'},{'id':'txt_hkrzh','regex':[''],'tips':[''],'disabled':'false','default':''},{'id':'txt_hkrmc','regex':['require'],'tips':['开户人名称不能为空！'],'disabled':'true','default':''}]" value="1">普通汇兑</option>
										<option sle-require="[{'id':'sle_ywzl','regex':['equal'],'tips':[''],'disabled':'false','default':'2'},{'id':'txt_hkrzh','regex':[''],'tips':[''],'disabled':'false','default':''},{'id':'txt_hkrmc','regex':['require'],'tips':['开户人名称不能为空！'],'disabled':'true','default':''}]" value="2">公益性资金汇划</option>
										<option sle-require="[{'id':'sle_ywzl','regex':['equal'],'tips':[''],'disabled':'false','default':'4'},{'id':'sle_hkzhlx','regex':[''],'tips':[''],'disabled':'true','default':'3'},{'id':'txt_hkrzh','regex':[''],'tips':[''],'disabled':'true','default':''},{'id':'txt_hkrmc','regex':['require'],'tips':['开户人名称不能为空！'],'disabled':'false','default':''}]" value="3">现金汇款</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 137px;"></div>
								<div id="sle_ywlx_tips" class="tipsmsg"></div>
							</td>
							<td class="" style="width: 64px;"><label vl-default="" id="label_ywzl" vtitle="业务种类" class="form-item text-left" vl-tipsid="label_ywzl_tips" title="label_ywzl">业务种类</label>
								<div id="label_ywzl_tips" class="tipsmsg"></div>
							</td>
							<td class="">
								<div class="slectstyle">
									<select vl-keyup="wwww" vl-default="" id="sle_ywzl" vtitle="业务种类" class="form-item text-left" vl-tipsid="sle_ywzl_tips" style="width: 160px;" title="sle_ywzl" vl-slemodel="">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">业务种类值含义</option>
										<option value="1">转账汇款</option>
										<option value="2">用于慈善事业捐款的款项汇划</option>
										<option value="3">其他公益性事业款项汇划</option>
										<option value="4">现金汇款</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 137px;"></div>
								<div id="sle_ywzl_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_yxjb" vtitle="优先级别" class="form-item text-left" vl-tipsid="label_yxjb_tips" title="label_yxjb">优先级别</label>
								<div id="label_yxjb_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="1" id="sle_yxjb" vtitle="优先级别" class="form-item text-left on" vl-tipsid="sle_yxjb_tips" style="width: 160px;" title="sle_yxjb" vl-slemodel="">
										<option disabled="" style="background-color: blue; color: #fff;" value="">优先级别值含义</option>
										<option value="1">普通</option>
										<option value="2">紧急</option>
										<option value="3">特急</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 137px;"></div>
								<div id="sle_yxjb_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div> <input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false">
			<div class="foot  text-center">
				<button class="first-submit">提交</button>
				<button class="first-close">关闭</button>
			<button type="button" onclick="FormReset()">重置</button>
                       <button type="button " style="margin-right: 0px; " vl-submit="true" id="btnsubmit" onclick="SubmitForm()"> 提交</button></div>
		</div><script src="~/Js/Student/GetDefaultValue/common.bank.js"></script>
              <script src="~/Js/Student/GetDefaultValue/lodash.min.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.cz.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/common.bank.ed.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/ed.common.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/ordinaryExchangeBusiness.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/layer.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    $(function () {
        $("#money_hkje").blur(function () {
            $("#txt_dxje").val(convertCurrency($("#money_hkje").val()));
        });
        $("#sle_hkzhlx,#money_hkje").change(function () {
            var hkzhlx = $("#sle_hkzhlx").val();
            var hkje = parseFloat($("#money_hkje").val());
            if (hkzhlx == "3" && hkje >= 50000) {
                $("#jbrxx_qv").css("display", "");
                $("#sle_zjlx2").attr("vl-regex", "['require']").attr("vl-message", "['证件类型不能为空!']").next().after("<span class=\"text-red redtip\">!</span>");
                notRequire($("#txt_hkrzh"));
            }else{
	             if ((hkzhlx == "1" || hkzhlx == "2" || hkzhlx == "6" || hkzhlx == "8") && hkje >= 500000) {
	                $("#jbrxx_qv").css("display", "");
	                $("#sle_zjlx2").attr("vl-regex", "['require']").attr("vl-message", "['证件类型不能为空!']").next().after("<span class=\"text-red redtip\">!</span>");
	            } else if (hkzhlx == "7" && hkje >= 2000000) {
	                $("#jbrxx_qv").css("display", "");
	                $("#sle_zjlx2").attr("vl-regex", "['require']").attr("vl-message", "['证件类型不能为空!']").next().after("<span class=\"text-red redtip\">!</span>");
	            } else {
	                $("#jbrxx_qv").css("display", "none");
	                $("#sle_zjlx2").removeAttr("vl-regex").removeAttr("vl-message").parent().find(".redtip").remove();
	            }
	            isRequire($("#txt_hkrzh"),"汇款人账号");
			}
        });

        $('#txt_sqbl').change(function(){
        	var vv = $('#txt_sxf').val().replace(',',"");
        	var bl = parseFloat($(this).val())/100
        	if(vv!=null&&vv!=''){
        		var ll = parseFloat(vv)*bl +'';
        		if(ll.indexOf('.') == -1){
        			$('#txt_sssxf').val(ll + '.00');
        		}else if(ll.indexOf('.') == ll.length - 2){
        			$('#txt_sssxf').val(ll + '0');
        		}else if(ll.indexOf('.') == ll.length - 3){
					$('#txt_sssxf').val(ll);
        		}
        		
        	}
        	
        })
    });
    function handel() {
        catchSuccess(function () {
            printEdWin();
        });
    }

    function Submit(formid, auth_ids) {
        var tips = "请确认交易信息是否正确，不正确请按“取消”返回到录入界面进行修改。";

       var l_i= layer.confirm(tips,
            {
                btn: ['确定', '取消']
            },
            function () {
                layer.close(l_i);
                review(formid, auth_ids);
            });
    }
	function notRequire(){
		for(var i in arguments){
			arguments[i].removeAttr("vl-regex vl-message").nextAll("span").remove();
		}
	}
	function isRequire(node,name){
		if(node.nextAll("span").length < 1){
			if(node.nextAll("img").length >= 1){
				node.attr({"vl-regex":"['require']","vl-message":"['"+name+"不能为空！']"}).nextAll("img").after("<span class='text-red redtip'>!</span>");
			}else{
				node.attr({"vl-regex":"['require']","vl-message":"['"+name+"不能为空！']"}).after("<span class='text-red redtip'>!</span>");
			}
		}
	}
</script>
<script type="text/javascript">
	 function isIE() { //ie?
         if (!!window.ActiveXObject || "ActiveXObject" in window) {
             return true;
         } 
        else
         {
             return false;
         }

   }
	var width = window.screen.width;   //获取屏幕宽度
    if (width == 1920) {
        document.getElementsByTagName('body')[0].style.zoom = 1;
    }
    if (width < 1920) {
        if (!isIE()) {
            document.getElementsByTagName('body')[0].style.zoom = 0.76;  //小屏幕左侧菜单高度控制
        } else {
            //$("#left").css("zoom",0.76);
            $("#label_skrlxfs").css({ "font-size": 11 });
            $("#label_fkrlxfs").css({ "font-size": 11 });
            $("#label_sxfsqfs").css({ "font-size": 11 });
            $("#label_zjyxrq").css({ "font-size": 11 });
            $("#label_zjyxrq2").css({ "font-size": 11 });
            


            //$("#left").css("width","200px");
            //$("#div_left").css("width", "200px");
            //$("#div_nr").css("margin-left", "210px");
            //$("#div_left").css("height", "450px");
        }
       
    }
</script>
<link href="~/Js/Student/GetDefaultValue/js/common.bank.ed.css" rel="stylesheet" />
<style>
			#money-show,#second{
				display: none;
			}
			
			.foot .first-submit,.foot .second-submit{
				margin: 0 100px 0 150px;
			}
			
			input {
				width: 155px;
			}
			
			body {
				overflow-x: hidden;
			}
		</style>
              </form>
