@{
                    ViewBag.Title = "Form_030606";
                    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
                }
               <form id="form1" onsubmit="return false" action="##" method="post">
                   <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
                   <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                   <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
                   <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
                   <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                   <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                   <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
                   <input type="hidden" id="Types" name="Types" value="2" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="banktop"> <span class="toolbar-title-img">                                    <img src="../busi/img/topleft.png">02325-解除账户止付</span> <span class="toolbar-title-close" style="display: none;">                                    </span> </div>
			<div class="con-map2 selected">
				<table id="qv" class="con-map2-table">
					<tbody>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 55px;"><label vl-default="" id="label_" vtitle="账i/卡i号" class="form-item text-left" vl-tipsid="label__tips" name="label_">账<i></i>/卡<i></i>号</label>
								<div id="label__tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zkh" vtitle="账/卡号" class="form-item text-left" kuaicha="true" vl-tipsid="txt_zkh_tips" vl-regex="['require', 'number', 'maxlength32']" vl-message="['账/卡号不能为空！','账/卡号只能为数字!','账/卡号长度超过最大长度:[32]!']" style="width: 160px;" title="txt_zkh" onpaste="return false" name="txt_zkh"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="sle_xh|0|0,txt_hm|0|0,txt_hm|0|0,sle_bz|0|0,sle_cpdm|0|0,money_zhye|0|0,money_kyye|0|0" vl-exec="false" vl-message="['账/卡号查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
								<div id="txt_zkh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_xh" vtitle="序iiis号" class="form-item text-left" vl-tipsid="label_xh_tips" title="label_xh" name="label_xh">序<i></i><i></i><i></i><s></s>号</label>
								<div id="label_xh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_xh" vtitle="序号" class="form-item text-left on" vl-disabled="true" kuaicha="true" vl-tipsid="sle_xh_tips" style="width: 180px;" title="sle_xh" vl-slemodel="" disabled="disabled" name="sle_xh">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">序号值含义</option>
										<option value="1">1 - 个人银行结算存款</option>
										<option value="4">4 - 整存整取3月</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_XuHao_4" name="mb1_sleinput_XuHao_4">
									<img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['序号查询未执行！']" title="执行快查！">
								</div>
								<div id="sle_xh_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_hm" vtitle="户iiis名" class="form-item text-left" vl-tipsid="label_hm_tips" title="label_hm" name="label_hm">户<i></i><i></i><i></i><s></s>名</label>
								<div id="label_hm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_hm" vtitle="户名" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_hm_tips" style="width: 620px;" title="txt_hm" onpaste="return false" disabled="disabled" name="txt_hm">
								<div id="txt_hm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_bz" vtitle="币iiis种" class="form-item text-left" vl-disabled="true" vl-tipsid="label_bz_tips" title="label_bz" disabled="disabled" name="label_bz">币<i></i><i></i><i></i><s></s>种</label>
								<div id="label_bz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_bz" vtitle="币种" class="form-item text-left on" vl-disabled="true" vl-tipsid="sle_bz_tips" style="width: 180px;" title="sle_bz" vl-slemodel="" disabled="disabled" name="sle_bz">
                                    </select>
                                <input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_BiZhong_8" name="mb1_sleinput_BiZhong_8"></div>
								<div id="sle_bz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_cpdm" vtitle="产s品s代s码" class="form-item text-left" vl-tipsid="label_cpdm_tips" title="label_cpdm" name="label_cpdm">产<s></s>品<s></s>代<s></s>码</label>
								<div id="label_cpdm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_cpdm" vtitle="产品代码" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_cpdm_tips" style="width: 180px;" title="sle_cpdm" vl-slemodel="" disabled="disabled" name="sle_cpdm">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">产品代码值含义</option>
										<option value="11011">11011 - 个人银行结算存款</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_ChanPinDaiMa_10" name="mb1_sleinput_ChanPinDaiMa_10"></div>
								<div id="sle_cpdm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zhye" vtitle="账s户s余s额" class="form-item text-left" vl-tipsid="label_zhye_tips" title="label_zhye" name="label_zhye">账<s></s>户<s></s>余<s></s>额</label>
								<div id="label_zhye_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_zhye" vtitle="账户余额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_zhye_tips" vl-regex="['notequal0']" vl-message="['账户余额数据小于下限值[0.01]!']" style="width: 180px;" title="money_zhye" disabled="disabled" name="money_zhye"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
								<div id="money_zhye_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_kyye" vtitle="可s用s余s额" class="form-item text-left" vl-tipsid="label_kyye_tips" title="label_kyye" name="label_kyye">可<s></s>用<s></s>余<s></s>额</label>
								<div id="label_kyye_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_kyye" vtitle="可用余额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_kyye_tips" vl-regex="['notequal0']" vl-message="['可用余额数据小于下限值[0.01]!']" style="width: 180px;" title="money_kyye" disabled="disabled" name="money_kyye"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
								<div id="money_kyye_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="con-map2">
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" style="width: 64px;"><label vl-default="" id="label_zfxh" vtitle="止is付i序is号" class="form-item text-left on" vl-tipsid="label_zfxh_tips" title="label_zfxh" name="label_zfxh">止<i></i><s></s>付<i></i>序<i></i><s></s>号</label>
								<div id="label_zfxh_tips" class="tipsmsg"></div>
							</td>
							<td class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_zfxh" vtitle="止付序号" class="form-item text-left on" kuaicha="true" vl-tipsid="sle_zfxh_tips" vl-regex="['require']" vl-message="['止付序号不能为空！']" style="width: 180px;" title="sle_zfxh" vl-slemodel="sle_yywlx" name="sle_zfxh">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">止付序号值含义</option>
										<option value="1">1 - 内部控制</option>
										<option sle-zhiyu="[{'id':'sle_yywlx','zhiyu':'4'}]" value="2">2-有权机构止付</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb2_sleinput_ZhiFuXuHao_2" name="mb2_sleinput_ZhiFuXuHao_2"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="sle_yzflx|0|0,sle_yywlx|0|0,txt_yzfdqr|0|0,txt_yzfrq|0|0,sle_yywlx|0|0,txt_yzfsqdw|0|0" vl-exec="false" vl-message="['止付序号查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span></div>
								<div id="sle_zfxh_tips" class="tipsmsg"></div>
							</td>
							<td class="" style="width: 80px;"><label vl-default="" id="label_yywlx" vtitle="原s业s务s类s型" class="form-item text-left on" vl-tipsid="label_yywlx_tips" title="label_yywlx" name="label_yywlx">原<s></s>业<s></s>务<s></s>类<s></s>型</label>
								<div id="label_yywlx_tips" class="tipsmsg"></div>
							</td>
							<td class="">
								<div class="slectstyle">
                                    <select vl-default="" id="sle_yywlx" vtitle="原业务类型" class="form-item text-left" vl-disabled="true" kuaicha="true" vl-tipsid="sle_yywlx_tips" style="width: 180px;" title="sle_yywlx" vl-slemodel="" disabled="disabled" name="sle_yywlx">
                                        <option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">原业务类型值含义</option>
                                        <option value="1">0-内部控制</option>
                                        <option value="2">2-贷款止付</option>
                                        <option value="3">3-客户止付</option>
                                        <option value="4">4-有权机关止付</option>
                                    </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb2_sleinput_YuanYeWuLeiXing_4" name="mb2_sleinput_YuanYeWuLeiXing_4"></div>
								<div id="sle_yywlx_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_yzflx" vtitle="原ss止s付s类ss型" class="form-item text-left" vl-tipsid="label_yzflx_tips" title="label_yzflx" name="label_yzflx">原<s></s><s></s>止<s></s>付<s></s>类<s></s><s></s>型</label>
								<div id="label_yzflx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_yzflx" vtitle="原止付类型" class="form-item text-left" vl-disabled="true" kuaicha="true" vl-tipsid="sle_yzflx_tips" style="width: 180px;" title="sle_yzflx" vl-slemodel="" disabled="disabled" name="sle_yzflx">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">原止付类型值含义</option>
										<option value="0">0 - 中止业务</option>
										<option value="1">1 - 全部止付</option>
										<option value="2">2 - 部分止付</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb2_sleinput_YuanZhiFuLeiXing_6" name="mb2_sleinput_YuanZhiFuLeiXing_6"></div>
								<div id="sle_yzflx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_yzfje" vtitle="原s止s付s金s额" class="form-item text-left" vl-tipsid="label_yzfje_tips" title="label_yzfje" name="label_yzfje">原<s></s>止<s></s>付<s></s>金<s></s>额</label>
								<div id="label_yzfje_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_yzfje" vtitle="原止付金额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_yzfje_tips" style="width: 180px;" title="money_yzfje" disabled="disabled" name="money_yzfje"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
								<div id="money_yzfje_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_yzfrq" vtitle="原ss止s付s日ss期" class="form-item text-left" vl-tipsid="label_yzfrq_tips" title="label_yzfrq" name="label_yzfrq">原<s></s><s></s>止<s></s>付<s></s>日<s></s><s></s>期</label>
								<div id="label_yzfrq_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="0" id="txt_yzfrq" vtitle="原止付日期" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_yzfrq_tips" style="width: 180px;" title="txt_yzfrq" onpaste="return false" disabled="disabled" name="txt_yzfrq">
								<div id="txt_yzfrq_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_" vtitle="原s止付i到期日" class="form-item text-left" vl-tipsid="label__tips" title="label_" name="label_">原<s></s>止付<i></i>到期日</label>
								<div id="label__tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="0" id="txt_yzfdqr" vtitle="原止付到期日" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_yzfdqr_tips" style="width: 180px;" title="txt_yzfdqr" onpaste="return false" disabled="disabled" name="txt_yzfdqr">
								<div id="txt_yzfdqr_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_yzfsqdw" vtitle="原止付s申请s单位" class="form-item text-left" vl-tipsid="label_yzfsqdw_tips" title="label_yzfsqdw" name="label_yzfsqdw">原止付<s></s>申请<s></s>单位</label>
								<div id="label_yzfsqdw_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_yzfsqdw" vtitle="原止付申请单位" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_yzfsqdw_tips" vl-regex="['maxlength40']" vl-message="['原止付申请单位长度大于最大长度:[40]1']" style="width: 569px;" title="txt_yzfsqdw" onpaste="return false" disabled="disabled" name="txt_yzfsqdw">
								<div id="txt_yzfsqdw_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jczftzsh" vtitle="解除止付通知书号" class="form-item text-left on" vl-tipsid="label_jczftzsh_tips" title="label_jczftzsh" name="label_jczftzsh">解除止付通知书号</label>
								<div id="label_jczftzsh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_jczftzsh" vtitle="解除止付通知书号" class="form-item text-left" vl-tipsid="txt_jczftzsh_tips" vl-regex="['require', 'maxlength40', 'shuziandmu']" vl-message="['解除止付通知书号不能为空！','解除止付通知书号长度大于最大长度:[40]!','']" style="width: 569px;" title="txt_jczftzsh" onpaste="return false" name="txt_jczftzsh"><span class="text-red redtip">!</span>
								<div id="txt_jczftzsh_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jczftzdw" vtitle="解除止付单位" class="form-item text-left" vl-tipsid="label_jczftzdw_tips" title="label_jczftzdw" name="label_jczftzdw">解除止付单位</label>
								<div id="label_jczftzdw_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_jczftzdw" vtitle="解除止付通知单位" class="form-item text-left" vl-tipsid="txt_jczftzdw_tips" vl-regex="['maxlength120']" vl-message="['解除止付通知单位长度大于最大长度:[120]！']" style="width: 569px;" title="txt_jczftzdw" onpaste="return false" name="txt_jczftzdw">
								<div id="txt_jczftzdw_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jbrzjlx" vtitle="经办人s证件s类型" class="form-item text-left" vl-tipsid="label_jbrzjlx_tips" title="label_jbrzjlx" name="label_jbrzjlx">经办人<s></s>证件<s></s>类型</label>
								<div id="label_jbrzjlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="    width: 256px;">
								<div class="slectstyle">
									<select vl-default="" id="sle_jbrzjlx1" vtitle="经办人证件类型" class="form-item text-left" vl-tipsid="sle_jbrzjlx1_tips" vl-regex="['require']" vl-message="['经办人证件类型不能为空！']" style="width: 180px;" title="sle_jbrzjlx1" vl-slemodel="txt_jbrzjhm,txt_jbrzjhm,txt_jbrzjhm" name="sle_jbrzjlx1">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">经办人证件类型值含义</option>
										<option sle-require="[{'id':'txt_jbrzjhm','regex':['require','maxlength20','idcard'],'tips':['经办人证件号码不能为空！','经办人证件号码长度大于最大长度:[20]!','经办人证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="1">1 - 居民身份证</option>
										<option sle-require="[{'id':'txt_jbrzjhm','regex':['require','maxlength20','idcard'],'tips':['经办人证件号码不能为空！','经办人证件号码长度大于最大长度:[20]!','经办人证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="2">2 - 临时居民身份证</option>
										<option sle-require="[{'id':'txt_jbrzjhm','regex':['require','maxlength20','idcard'],'tips':['经办人证件号码不能为空！','经办人证件号码长度大于最大长度:[20]!','经办人证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="3">3 - 居民户口簿（16周岁以下）</option>
										<option value="4">4 - 军官证</option>
										<option value="5">5 - 警官证</option>
										<option value="6">6 - 士兵证</option>
										<option value="7">7 - 军队学员证</option>
										<option value="8">8 - 军队文职干部证</option>
										<option value="9">9 - 军队离退休干部证和军队职员证</option>
										<option value="10">10 - 中国护照</option>
										<option value="11">11 - 护照（外国公民）</option>
										<option value="12">12 - 海员证</option>
										<option value="13">13 - 港澳同胞回乡证</option>
										<option value="14">14 - 港澳居民来往大陆通行证</option>
										<option value="15">15 - 中华人民共和国网络港澳通行证</option>
										<option value="16">16 - 台湾居民来往大陆通行证</option>
										<option value="17">17 - 大陆居民往来台湾通行证</option>
										<option value="18">18 - 外国人居留证</option>
										<option value="19">19 - 外国人出入境证</option>
										<option value="20">20 - 外交官证</option>
										<option value="21">21 - 领事馆证</option>
										<option value="22">22 - 其他</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb2_sleinput_JingBanRenZhengJianLeiXing_20" name="mb2_sleinput_JingBanRenZhengJianLeiXing_20"><span class="text-red redtip">!</span></div>
								<div id="sle_jbrzjlx1_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jbrzjhm" vtitle="经办人证件号码" class="form-item text-left" vl-tipsid="label_jbrzjhm_tips" title="label_jbrzjhm" name="label_jbrzjhm">经办人证件号码</label>
								<div id="label_jbrzjhm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_jbrzjhm" vtitle="经办人证件号码" class="form-item text-left" vl-tipsid="txt_jbrzjhm_tips" vl-regex="['require', 'maxlength40']" vl-message="['经办人证件号码不能为空！','经办人证件号码长度大于最大长度:[40]!']" style="width: 180px;" title="txt_jbrzjhm" onpaste="return false" name="txt_jbrzjhm"><span class="text-red redtip">!</span>
								<div id="txt_jbrzjhm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jbrxm" vtitle="经i办s人i姓s名" class="form-item text-left" vl-tipsid="label_jbrxm_tips" title="label_jbrxm" name="label_jbrxm">经<i></i>办<s></s>人<i></i>姓<s></s>名</label>
								<div id="label_jbrxm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_jbrxm" vtitle="经办人姓名" class="form-item text-left" vl-tipsid="txt_jbrxm_tips" vl-regex="['require', 'maxlength20', 'hascode']" vl-message="['经办人姓名不能为空！','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字！']" style="width: 569px;" title="txt_jbrxm" onpaste="return false" name="txt_jbrxm"><span class="text-red redtip">!</span>
								<div id="txt_jbrxm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jbrlxfs" vtitle="经办s人联系s方式" class="form-item text-left" vl-tipsid="label_jbrlxfs_tips" title="label_jbrlxfs" name="label_jbrlxfs">经办<s></s>人联系<s></s>方式</label>
								<div id="label_jbrlxfs_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_jbrlxfs" vtitle="经办人联系方式" class="form-item text-left" kuaicha="true" vl-tipsid="txt_jbrlxfs_tips" vl-regex="['', 'maxlength15']" vl-message="['经办人联系方式不能为空！','经办人联系方式长度大于最大长度:[15]!']" style="width: 569px;" title="txt_jbrlxfs" onpaste="return false" name="txt_jbrlxfs">
								<div id="txt_jbrlxfs_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_zy" vtitle="摘iiiiii要" class="form-item text-left" vl-tipsid="label_zy_tips" title="label_zy" name="label_zy">摘<i></i><i></i><i></i><i></i><i></i><i></i>要</label>
								<div id="label_zy_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zy" vtitle="摘要" class="form-item text-left" vl-tipsid="txt_zy_tips" vl-regex="['require', 'maxlength120']" vl-message="['摘要不能为空！','摘要长度大于最大长度:[120]!']" style="width: 569px;" title="txt_zy" onpaste="return false" name="txt_zy"><span class="text-red redtip">!</span>
								<div id="txt_zy_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="foot "> <span>                                    <button>退出（F3）</button>                                    <button>帮助（F1）</button>                                    <button>辅助（F4）</button>                                    <button type="button" onclick="FormReset()">重置（F5）</button></span> <span style="float: right;">                                    <button type="button" style="margin-right: 0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button></span> </div>
			<input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false"><input type="hidden" class="zhanghao" value="" oncopy="return false" onpaste="return false" oncut="return false"> </div><script src="~/Js/Student/GetDefaultValue/common.bank.js"></script>
              <script src="~/Js/Student/GetDefaultValue/lodash.min.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.cz.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/zhzfjc001.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/jczhzf003.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/layer.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/My97DatePicker/WdatePicker.js"></script>
<script>
			$("#btnsubmit").click(function(){
				var values=$(".zhanghao").val().split('-');
				$("#money_zhye").val(values[0]);
				$("#money_kyye").val(values[1]);
			});
		</script>
<script>
		$(document).ready(function(){
		var myDate = new Date();
	    var year = myDate.getFullYear().toString();
	    var month = (myDate.getMonth() + 1).toString();
	    if (parseInt(month) < 10) {
	        month = "0" + month;
	    }
	    var day = myDate.getDate();
	    if (parseInt(day) < 10) {
	        day = "0" + day;
	    }
	    var dateTimeNow = year + month + day;
	    $("#txt_yzfrq").val(dateTimeNow);

		});

		</script>
<link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />
              </form>
