@{
                    ViewBag.Title = "Form_091008";
                    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
                }
               <form id="form1" onsubmit="return false" action="##" method="post">
                   <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
                   <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                   <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
                   <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
                   <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                   <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                   <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
                   <input type="hidden" id="Types" name="Types" value="2" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="banktop"> <span class="toolbar-title-img">                                        <img src="../busi/img/topleft.png">06808-介质激活</span> <span class="toolbar-title-close" style="display: none;">                                        </span> </div>
			<div class="con-map2 selected">
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" style="width: 64px;"><label vl-default="" id="label_jzzl" vtitle="介质种类" class="form-item text-left" vl-tipsid="label_jzzl_tips" title="label_jzzl" name="label_jzzl">介质种类</label>
								<div id="label_jzzl_tips" class="tipsmsg"></div>
							</td>
							<td class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_jzzl" vtitle="介质种类" class="form-item text-left" vl-tipsid="sle_jzzl_tips" vl-regex="['require']" vl-message="['介质种类不能为空!']" style="width: 180px;" title="sle_jzzl" vl-slemodel="" name="sle_jzzl">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">介质种类值含义</option>
										<option value="1">1 - IC卡</option>
										<option value="2">2 - 存折</option>
										<option value="3">3 - 存单</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_JieZhiZhongLei_2" name="mb1_sleinput_JieZhiZhongLei_2"><span class="text-red redtip">!</span></div>
								<div id="sle_jzzl_tips" class="tipsmsg"></div>
							</td>
							<td class="" style="width: 55px;"><label vl-default="" id="label_zkh" vtitle="账ss/ss卡号" class="form-item text-left" vl-tipsid="label_zkh_tips" title="label_zkh" name="label_zkh">账<s></s><s></s>/<s></s><s></s>卡号</label>
								<div id="label_zkh_tips" class="tipsmsg"></div>
							</td>
							<td class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zkh" vtitle="账/卡号" class="form-item text-left" kuaicha="true" vl-tipsid="txt_zkh_tips" vl-regex="['require', 'maxlength32', 'number']" vl-message="['账/卡号不能为空!','账/卡号长度大于最大长度:[32]!','账/卡号输入错误!']" style="width: 180px;" title="txt_zkh" onpaste="return false" name="txt_zkh"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="txt_zhmc|0|0" vl-exec="false" vl-message="['账/卡号查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
								<div id="txt_zkh_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zhmc" vtitle="账s户s名s称" class="form-item text-left" vl-tipsid="label_zhmc_tips" title="label_zhmc" name="label_zhmc">账<s></s>户<s></s>名<s></s>称</label>
								<div id="label_zhmc_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zhmc" vtitle="账户名称" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_zhmc_tips" style="width: 600px;" title="txt_zhmc" onpaste="return false" disabled="disabled" name="txt_zhmc">
								<div id="txt_zhmc_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zjlx" vtitle="证s件s类s型" class="form-item text-left" vl-tipsid="label_zjlx_tips" title="label_zjlx" name="label_zjlx">证<s></s>件<s></s>类<s></s>型</label>
								<div id="label_zjlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_zjlx" vtitle="证件类型" class="form-item text-left" vl-tipsid="sle_zjlx_tips" vl-regex="['require']" vl-message="['证件类型不能为空!']" style="width: 180px;" title="sle_zjlx" vl-slemodel="txt_zjhm,txt_zjhm,txt_zjhm" name="sle_zjlx">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">证件类型值含义</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="1">1 - 居民身份证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="2">2 - 临时居民身份证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="3">3 - 居民户口簿（16周岁以下）</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码军官证不能为空!','证件号码军官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="4">4 - 军官证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码警官证不能为空!','证件号码警官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="5">5 - 警官证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码士兵证不能为空!','证件号码士兵证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="6">6 - 士兵证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码军队学员证不能为空!','证件号码军队学员证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="7">7 - 军队学员证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码军队文职干部证不能为空!','证件号码军队文职干部证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="8">8 - 军队文职干部证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码军队离退休干部证和军队职员证不能为空!'," '证件号码军队离退休干部证和军队职员证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]="" value="9">9 - 军队离退休干部证和军队职员证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码中国护照不能为空!','证件号码中国护照长度大于最大长度:[40]!']," 'disabled':'false*false','default':''}]="" value="10">10 - 中国护照</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码护照（外国公民）不能为空!','证件号码护照（外国公民）长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="11">11 - 护照（外国公民）</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码海员证不能为空!','证件号码海员证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="12">12 - 海员证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码港澳同胞回乡证不能为空!','证件号码港澳同胞回乡证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="13">13 - 港澳同胞回乡证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码港澳居民来往大陆通行证不能为空!','证件号码港澳居民来往大陆通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="14">14 - 港澳居民来往大陆通行证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码中华人民共和国网络港澳通行证不能为空!','证件号码中华人民共和国网络港澳通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="15">15 - 中华人民共和国网络港澳通行证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码台湾居民来往大陆通行证不能为空!','证件号码台湾居民来往大陆通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="16">16 - 台湾居民来往大陆通行证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码大陆居民往来台湾通行证不能为空!','证件号码大陆居民往来台湾通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="17">17 - 大陆居民往来台湾通行证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码外国人居留证不能为空!','证件号码外国人居留证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="18">18 - 外国人居留证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码外国人出入境证不能为空!','证件号码外国人出入境证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="19">19 - 外国人出入境证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码外交官证不能为空!','证件号码外交官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="20">20 - 外交官证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码领事馆证不能为空!','证件号码领事馆证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="21">21 - 领事馆证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['证件号码其他不能为空!','证件号码其他长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="22">22 - 其他</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_ZhengJianLeiXing_8" name="mb1_sleinput_ZhengJianLeiXing_8"><span class="text-red redtip">!</span></div>
								<div id="sle_zjlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zjhm" vtitle="证s件s号s码" class="form-item text-left" vl-tipsid="label_zjhm_tips" title="label_zjhm" name="label_zjhm">证<s></s>件<s></s>号<s></s>码</label>
								<div id="label_zjhm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zjhm" vtitle="证件号码" class="form-item text-left" kuaicha="true" vl-tipsid="txt_zjhm_tips" vl-regex="['require', 'maxlength20','idcard']" vl-message="['证件号码不能为空!','证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！']" style="width: 180px;" title="txt_zjhm" onpaste="return false" name="txt_zjhm"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['证件号码查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
								<div id="txt_zjhm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_pzhm" vtitle="凭s证s号s码" class="form-item text-left" vl-tipsid="label_pzhm_tips" title="label_pzhm" name="label_pzhm">凭<s></s>证<s></s>号<s></s>码</label>
								<div id="label_pzhm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_pzhm" vtitle="凭证号码" class="form-item text-left" vl-tipsid="txt_pzhm_tips" vl-regex="['require', 'maxlength40', 'number']" vl-message="['凭证号码不能为空!','凭证号码长度大于最大长度:[40]!','凭证号码输入错误!']" style="width: 600px;" title="txt_pzhm" onpaste="return false" name="txt_pzhm"><span class="text-red redtip">!</span>
								<div id="txt_pzhm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_sfycxmm" vtitle="是否有查询密码" class="form-item text-left" vl-tipsid="label_sfycxmm_tips" title="label_sfycxmm" name="label_sfycxmm">是否有查询密码</label>
								<div id="label_sfycxmm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="N" id="sle_sfycxmm" vtitle="是否有查询密码" class="form-item text-left" vl-tipsid="sle_sfycxmm_tips" vl-regex="['require']" vl-message="['是否有查询密码不能为空!']" style="width: 180px;" vl-slemodel="pwd_cxmm" name="sle_sfycxmm">
										<option disabled="" style="background-color: blue; color: #fff;" value="">是否有查询密码值含义</option>
										<option value="Y">Y - 是</option>
										<option sle-require="[{'id':'pwd_cxmm','regex':['integer'],'tips':[''],'disabled':'true','default':''}]" value="N">N- 否</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_ShiFuYouChaXunMiMa_14" name="mb1_sleinput_ShiFuYouChaXunMiMa_14"></div>
								<div id="sle_sfycxmm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_cxmm" vtitle="查s询s密s码" class="form-item text-left" vl-tipsid="label_cxmm_tips" title="label_cxmm" name="label_cxmm">查<s></s>询<s></s>密<s></s>码</label>
								<div id="label_cxmm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="password" oncopy="return false" onpaste="return false" oncut="return false" vl-disabled="true" vl-default="" id="pwd_cxmm" vtitle="查询密码" class="form-item text-left" vl-tipsid="pwd_cxmm_tips" vl-regex="['minlength6', 'maxlength6', 'number']" vl-message="['查询密码长度为:[6]!','查询密码长度为:[6]!','查询密码输入错误!']" style="width: 180px;" title="pwd_cxmm" disabled="disabled" name="pwd_cxmm">
								<div id="pwd_cxmm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_sflm" vtitle="是s否s留s密" class="form-item text-left" vl-tipsid="label_sflm_tips" title="label_sflm" name="label_sflm">是<s></s>否<s></s>留<s></s>密</label>
								<div id="label_sflm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="Y" id="sle_sflm" vtitle="是否留密" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_sflm_tips" style="width: 180px;" title="sle_sflm" vl-slemodel="" disabled="disabled" name="sle_sflm">
										<option disabled="" style="background-color: blue; color: #fff;" value="">是否留密值含义</option>
										<option value="Y">Y - 是</option>
										<option value="N">N - 否</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_ShiFuLiuMi_18" name="mb1_sleinput_ShiFuLiuMi_18"></div>
								<div id="sle_sflm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zqmm" vtitle="支s取s密s码" class="form-item text-left" vl-tipsid="label_zqmm_tips" title="label_zqmm" name="label_zqmm">支<s></s>取<s></s>密<s></s>码</label>
								<div id="label_zqmm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="password" oncopy="return false" onpaste="return false" oncut="return false" vl-default="" id="pwd_zqmm" vtitle="支取密码" class="form-item text-left" vl-tipsid="pwd_zqmm_tips" vl-regex="['require', 'minlength6', 'maxlength6', 'number']" vl-message="['支取密码不能为空!','支取密码长度为:[6]!','支取密码长度为:[6]!','支取密码输入错误!']" style="width: 180px;" title="pwd_zqmm" name="pwd_zqmm"><span class="text-red redtip">!</span>
								<div id="pwd_zqmm_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="foot "> <span>                                        <button>退出（F3）</button>                                        <button>帮助（F1）</button>                                        <button>辅助（F4）</button>                                        <button type="button" onclick="FormReset()">重置（F5）</button></span> <span style="float: right;">                                        <button type="button" style="margin-right: 0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button></span> </div>
			<input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false"> </div><script src="~/Js/Student/GetDefaultValue/common.bank.js"></script>
              <script src="~/Js/Student/GetDefaultValue/lodash.min.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.cz.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/jzjh.js"><</script>
<script src="~/Js/Student/GetDefaultValue/js/layer.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/My97DatePicker/WdatePicker.js"></script>
<link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />
              </form>
