@{
                    ViewBag.Title = "Form_060302";
                    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
                }
               <form id="form1" onsubmit="return false" action="##" method="post">
                   <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
                   <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                   <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
                   <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
                   <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                   <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                   <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
                   <input type="hidden" id="Types" name="Types" value="2" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="banktop"> <span class="toolbar-title-img">                                        <img src="../busi/img/topleft.png">04245-客户剩余支票注销</span> <span class="toolbar-title-close" style="display: none;">                                        </span> </div>
			<div class="con-map2 selected">
				<table id="qv" class="con-map2-table qv">
					
					<tbody>
						<tr>
							<td class="" style="width: 32px;"><label vl-default="" id="label_zh" vtitle="账iissi号" class="form-item text-left" vl-tipsid="label_zh_tips" name="label_zh">账<i></i><i></i><s></s><s></s><i></i>号</label>
								<div id="label_zh_tips" class="tipsmsg"></div>
							</td>
							<td class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zh" vtitle="账号" class="form-item text-left" kuaicha="true" vl-tipsid="txt_zh_tips" vl-regex="['require', 'maxlength32', 'number']" vl-message="['账号不能为空!','账号长度超过最大长度:[32]!','账号输入错误!']" style="width: 600px;" title="txt_zh" onpaste="return false" name="txt_zh"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="txt_zhmc|0|0" vl-exec="false" vl-message="['账号查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
								<div id="txt_zh_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zhmc" vtitle="账s户ss名s称" class="form-item text-left" vl-tipsid="label_zhmc_tips" title="label_zhmc" name="label_zhmc">账<s></s>户<s></s><s></s>名<s></s>称</label>
								<div id="label_zhmc_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zhmc" vtitle="账户名称" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_zhmc_tips" style="width: 600px;" title="txt_zhmc" onpaste="return false" disabled="disabled" name="txt_zhmc">
								<div id="txt_zhmc_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zxfs" vtitle="注s销ss方s式" class="form-item text-left" vl-tipsid="label_zxfs_tips" title="label_zxfs" name="label_zxfs">注<s></s>销<s></s><s></s>方<s></s>式</label>
								<div id="label_zxfs_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_zxfs" vtitle="注销方式" class="form-item text-left" kuaicha="true" vl-tipsid="sle_zxfs_tips" vl-regex="['require']" vl-message="['注销方式不能为空!']" style="width: 600px;" title="sle_zxfs" vl-slemodel="sle_blpzzl,txt__blpzhm,sle_blpzzl,txt__blpzhm" name="sle_zxfs">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">注销方式值含义</option>
										<option sle-require="[{'id':'sle_blpzzl','regex':['equal'],'tips':[''],'disabled':'true','default':''},{'id':'txt__blpzhm','regex':['equal'],'tips':[''],'disabled':'true','default':''}]" value="1">1 - 全部注销</option>
										<option sle-require="[{'id':'sle_blpzzl','regex':['require'],'tips':['保留凭证种类不能为空!'],'disabled':'false','default':''},{'id':'txt__blpzhm','regex':['require','minlength16','maxlength16','number'],'tips':['保留凭证号码不能为空!','请输入16位凭证号码!','请输入16位凭证号码!','凭证号码输入错误!'],'disabled':'false*false*false*false','default':''}]" value="2">2 - 保留一张</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb1_sleinput_ZhuXiaoFangShi_6" name="mb1_sleinput_ZhuXiaoFangShi_6"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['注销方式查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span></div>
								<div id="sle_zxfs_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_blpzzl" vtitle="保留凭证种类" class="form-item text-left on" vl-tipsid="label_blpzzl_tips" title="label_blpzzl" name="label_blpzzl">保留凭证种类</label>
								<div id="label_blpzzl_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_blpzzl" vtitle="保留凭证种类" class="form-item text-left" vl-tipsid="sle_blpzzl_tips" style="width: 600px;" title="sle_blpzzl" vl-slemodel="" name="sle_blpzzl">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">保留凭证种类值含义</option>
										<option value="014">014 - 现金支票</option>
										<option value="015">015 - 转账支票</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb1_sleinput_BaoLiuPingZhengZhongLei_8" name="mb1_sleinput_BaoLiuPingZhengZhongLei_8"></div>
								<div id="sle_blpzzl_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_blpzhm" vtitle="保留凭证号码" class="form-item text-left on" vl-tipsid="label_blpzhm_tips" title="label_blpzhm" name="label_blpzhm">保留凭证号码</label>
								<div id="label_blpzhm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt__blpzhm" vtitle="保留凭证号码" class="form-item text-left" vl-tipsid="txt__blpzhm_tips" style="width: 600px;" title="txt__blpzhm" onpaste="return false" name="txt__blpzhm"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['保留凭证号码查询未执行！']" title="执行快查！">
								<div id="txt__blpzhm_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
				 <iframe id="iframeID" name="iframeID" style="width: 100%;height: 400px; border:none; " src="http://bsi1.occupationedu.com/commontable/?fields=pzzl%7C%E5%87%AD%E8%AF%81%E7%A7%8D%E7%B1%BB,pzhm%7C%E5%87%AD%E8%AF%81%E5%8F%B7%E7%A0%81&amp;table=tb_daily_khsyzpzx&amp;orderby=id&amp;page=1&amp;pagesize=10&amp;is_page=true&amp;toolbar=true&amp;where=%20and%201!=1"></iframe>
			</div>
			<div class="con-map2">
					
			</div>
			<div class="foot "> <span>                                        <button>退出（F3）</button>                                        <button>帮助（F1）</button>                                        <button>辅助（F4）</button>                                        <button type="button" onclick="FormReset()">重置（F5）</button></span> <span style="float: right;">                                        <button type="button" style="margin-right: 0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button></span> </div>
			<input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false"> </div><script src="~/Js/Student/GetDefaultValue/common.bank.js"></script>
              <script src="~/Js/Student/GetDefaultValue/lodash.min.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.cz.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/layer.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
						
                        $(function () {
                            $("#iframeID").attr("src", encodeURI("/commontable/?fields=pzzl|凭证种类,pzhm|凭证号码&table=tb_daily_khsyzpzx&orderby=id&page=1&pagesize=10&is_page=true&toolbar=true&where= and 1!=1"));
    });
</script>
<link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />
              </form>
