@{
                    ViewBag.Title = "Form_010902";
                    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
                }
               <form id="form1" onsubmit="return false" action="##" method="post">
                   <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
                   <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                   <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
                   <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
                   <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                   <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                   <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
                   <input type="hidden" id="Types" name="Types" value="2" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="banktop"> <span class="toolbar-title-img">                                    <img src="../busi/img/topleft.png">02204-单位活期存款</span> <span class="toolbar-title-close" style="display: none;">                                    <img src="../busi/img/topright.png"></span> </div>
			<div class="con-map2 selected">
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" rowspan="1" colspan="1" style="width: 32px;"><label vl-default="" id="label_zh" vtitle="账iiss号" class="form-item text-left" vl-tipsid="label_zh_tips" title="label_zh" name="label_zh">账<i></i><i></i><s></s><s></s>号</label>
								<div id="label_zh_tips" class="tipsmsg"></div>
							</td>
							<td class="" rowspan="1" colspan="3"><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zh" vtitle="账号" class="form-item text-left" kuaicha="true" vl-tipsid="txt_zh_tips" vl-regex="['require','number','maxlength32']" vl-message="['账号不能为空!','账号输入错误!','账号长度大于最大长度:[32]!']" style="width: 810px;" title="txt_zh" onpaste="return false" name="txt_zh"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="txt_khjg|0|0,txt_zhmc|0|0,sle_bz|0|0,money_ye|0|0,sle_cpdm|0|0,sle_zhzjxz|0|0,sle_xzbz|0|0,sle_zhlx|0|0" vl-exec="false" vl-message="['账号查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
								<div id="txt_zh_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_khjg" vtitle="开s户s机s构" class="form-item text-left" vl-tipsid="label_khjg_tips" title="label_khjg" name="label_khjg">开<s></s>户<s></s>机<s></s>构</label>
								<div id="label_khjg_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_khjg" vtitle="开户机构" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_khjg_tips" vl-regex="['maxlength40']" vl-message="['开户机构长度大于最大长度:[40]!']" style="width: 810px;" title="txt_khjg" onpaste="return false" disabled="disabled" name="txt_khjg">
								<div id="txt_khjg_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zhmc" vtitle="账s户s名s称" class="form-item text-left" vl-tipsid="label_zhmc_tips" title="label_zhmc" name="label_zhmc">账<s></s>户<s></s>名<s></s>称</label>
								<div id="label_zhmc_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zhmc" vtitle="账户名称" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_zhmc_tips" vl-regex="['maxlength40']" vl-message="['账户名称长度大于最大长度:[40]!']" style="width: 810px;" title="txt_zhmc" onpaste="return false" disabled="disabled" name="txt_zhmc">
								<div id="txt_zhmc_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_bz" vtitle="币iii种" class="form-item text-left" vl-tipsid="label_bz_tips" title="label_bz" name="label_bz">币<i></i><i></i><i></i>种</label>
								<div id="label_bz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_bz" vtitle="币种" class="form-item text-left on" vl-disabled="true" vl-tipsid="sle_bz_tips" style="width: 350px;" title="sle_bz" vl-slemodel="" disabled="disabled" name="sle_bz">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">币种值含义</option>
										<option value="CNY">CNY - 人民币</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 327px;" id="mb1_sleinput_BiZhong_8" name="mb1_sleinput_BiZhong_8"></div>
								<div id="sle_bz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_ye" vtitle="余iii额" class="form-item text-left" vl-tipsid="label_ye_tips" title="label_ye" name="label_ye">余<i></i><i></i><i></i>额</label>
								<div id="label_ye_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_ye" vtitle="余额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_ye_tips" style="width: 330px;" title="money_ye" disabled="disabled" name="money_ye"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
								<div id="money_ye_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_cpdm" vtitle="产s品s代s码" class="form-item text-left" vl-tipsid="label_cpdm_tips" title="label_cpdm" name="label_cpdm">产<s></s>品<s></s>代<s></s>码</label>
								<div id="label_cpdm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_cpdm" vtitle="产品代码" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_cpdm_tips" style="width: 810px;" title="sle_cpdm" vl-slemodel="" disabled="disabled" name="sle_cpdm">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">产品代码值含义</option>
										<option value="21011">21011 - 单位活期存款</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 787px;" id="mb1_sleinput_ChanPinDaiMa_12" name="mb1_sleinput_ChanPinDaiMa_12"></div>
								<div id="sle_cpdm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zhlx" vtitle="账s户s类s型" class="form-item text-left" vl-tipsid="label_zhlx_tips" title="label_zhlx" name="label_zhlx">账<s></s>户<s></s>类<s></s>型</label>
								<div id="label_zhlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_zhlx" vtitle="账户类型" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_zhlx_tips" style="width: 810px;" title="sle_zhlx" vl-slemodel="" disabled="disabled" name="sle_zhlx">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">账户类型值含义</option>
										<option value="1">1 - 基本户</option>
										<option value="2">2 - 一般户</option>
										<option value="3">3 - 临时户</option>
										<option value="4">4 - 临时验资</option>
										<option value="5">5 - 预算单位专用 存款账户</option>
										<option value="6">6 - 非预算类单位 专用存款账户</option>
										<option value="7">7 - 特殊单位专用 账户</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 787px;" id="mb1_sleinput_ZhangHuLeiXing_14" name="mb1_sleinput_ZhangHuLeiXing_14"></div>
								<div id="sle_zhlx_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zhzj" vtitle="专户资金性质" class="form-item text-left" vl-tipsid="label_zhzj_tips" title="label_zhzj" name="label_zhzj">专户资金性质</label>
								<div id="label_zhzj_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_zhzjxz" vtitle="专户资金性质" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_zhzjxz_tips" style="width: 810px;" title="sle_zhzjxz" vl-slemodel="" disabled="disabled" name="sle_zhzjxz">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">专户资金性质值含义</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 787px;" id="mb1_sleinput_ZhuanHuZiJinXingZhi_16" name="mb1_sleinput_ZhuanHuZiJinXingZhi_16"></div>
								<div id="sle_zhzjxz_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_xzbz" vtitle="现s转s标s志" class="form-item text-left" vl-tipsid="label_xzbz_tips" title="label_xzbz" name="label_xzbz">现<s></s>转<s></s>标<s></s>志</label>
								<div id="label_xzbz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_xzbz" vtitle="现转标志" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_xzbz_tips" style="width: 810px;" title="sle_xzbz" vl-slemodel="" disabled="disabled" name="sle_xzbz">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">现转标志值含义</option>
										<option value="1">1 - 现金</option>
										<option value="2">2 - 转账</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 787px;" id="mb1_sleinput_XianZhuanBiaoZhi_18" name="mb1_sleinput_XianZhuanBiaoZhi_18"></div>
								<div id="sle_xzbz_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_jyje" vtitle="交s易s金s额" class="form-item text-left" vl-tipsid="label_jyje_tips" title="label_jyje" name="label_jyje">交<s></s>易<s></s>金<s></s>额</label>
								<div id="label_jyje_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class="">
								<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_jyje" vtitle="交易金额" class="form-item text-left money" kuaicha="true" jinejiaoyan="true" vl-tipsid="money_jyje_tips" vl-regex="['require','minvalue0.01','maxlength16']" vl-message="['交易金额不能为空!','交易金额数据小于下限值[0.01]!','交易金额长度大于最大长度:[16]!']" style="width: 810px;" title="money_jyje" name="money_jyje"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['交易金额查询未执行！']" title="执行快查！"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
								<div id="money_jyje_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_zy" vtitle="摘iii要" class="form-item text-left" vl-tipsid="label_zy_tips" title="label_zy" name="label_zy">摘<i></i><i></i><i></i>要</label>
								<div id="label_zy_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-keyup="wwww" vl-default="" id="sle_zy" vtitle="摘要" class="form-item text-left" vl-tipsid="sle_zy_tips" vl-regex="['require']" vl-message="['摘要不能为空!']" style="width: 350px;" vl-slemodel="txt_zy" name="sle_zy">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">摘要值含义</option>
										<option value="1">1 - 日常业务</option>
										<option value="2">2 - 工资</option>
										<option value="3">3 - 奖金</option>
										<option value="4">4 - 工程款</option>
										<option value="5">5 - 材料款</option>
										<option value="6">6 - 货款</option>
										<option value="7">7 - 还款</option>
										<option value="8">8 - 劳务费</option>
										<option value="9">9 - 合同款</option>
										<option value="10">10 - 房款</option>
										<option value="11">11 - 保证金</option>
										<option sle-require="[{'id':'txt_zy','regex':['require'],'tips':['值不能为空!'],'disabled':'false','default':''}]" value="99">99 - 手工录入</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 327px;" id="mb1_sleinput_ZhaiYao_22" name="mb1_sleinput_ZhaiYao_22"><span class="text-red redtip">!</span></div>
								<div id="sle_zy_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="2" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zy" vtitle="空值" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_zy_tips" style="width: 427px;" title="txt_zy" onpaste="return false" disabled="disabled" name="txt_zy">
								<div id="txt_zy_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="con-map2">
				<div class="box">
					<ul class="tab">
						<li title="tab_0_0" id="tab_0_0" class="tab_0_0 one">经办人信息</li>
					</ul>
					<div class="content">
						<div class="ct" style="display: block;">
							<table id="qv" class="con-map2-table qv">
								<tbody>
									<tr>
										<td class="" style="width: 64px;"><label vl-default="" id="label_zjlx" vtitle="证i件i类i型" class="form-item text-left on" vl-tipsid="label_zjlx_tips" title="label_zjlx" name="label_zjlx">证<i></i>件<i></i>类<i></i>型</label>
											<div id="label_zjlx_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="slectstyle">
												<select vl-default="" id="sle_zjlx" vtitle="证件类型" class="form-item text-left" vl-tipsid="sle_zjlx_tips" style="width: 810px;" title="sle_zjlx" vl-slemodel="txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1,txt_zjhm,txt_jbr,txt_jbr1" name="sle_zjlx">
													<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">证件类型值含义</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="1">1 - 居民身份证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="2">2 - 临时居民身份证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!',经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="3">3 - 居民户口簿</option>		
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="4">4 - 军官证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="5">5 - 警官证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="6">6 - 士兵证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="7">7 - 军队学员证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="8">8 - 军队文职干部证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="9">9 - 军队离退休干部证和军队职工证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="10">10 - 中国护照</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="11">11 - 护照（外国公民）</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="12">12 - 海员证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="13">13 - 港澳同胞回乡证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="14">14 - 港澳居民来往内地通行证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="15">15 - 中华人民共和国来往港澳通行证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="16">16 - 台湾居民来往大陆通行证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="17">17 - 大陆居民来往台湾通行证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="18">18 - 外国人居留证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="19">19 - 外国人出入境证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="20">20 - 外交官证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="21">21 - 领事馆证</option>
													<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength40'],'tips':['经办人证件号码不能为空!','经办人证件号码长度大于最大长度:[40]!'],'disabled':'false*false','default':''},{'id':'txt_jbr','regex':['require','maxlength20','hascode'],'tips':['经办人姓名不能为空!','经办人姓名长度大于最大长度:[20]!','经办人姓名不能全为数字!'],'disabled':'false*false*false','default':''},{'id':'txt_jbr1','regex':['maxlength15','connect'],'tips':['经办人联系方式长度大于最大长度:[15]!',''],'disabled':'false*false','default':''},{'id':'txt_yckrgx','regex':['maxlength40'],'tips':['与存款人关系长度大于最大长度:[40]!'],'disabled':'false','default':''}]" value="22">22 - 其他</option>
												</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 787px;" id="mb2_sleinput_ZhengJianLeiXing_2" name="mb2_sleinput_ZhengJianLeiXing_2"><span id="sle_zjlx_red" class="text-red redtip" style="display:none;">!</span></div>
											<div id="sle_zjlx_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zjhm" vtitle="证i件i号i码" class="form-item text-left" vl-tipsid="label_zjhm_tips" title="label_zjhm" name="label_zjhm">证<i></i>件<i></i>号<i></i>码</label>
											<div id="label_zjhm_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zjhm" vtitle="证件号码" class="form-item text-left on" vl-tipsid="txt_zjhm_tips" vl-disabled="true" vl-regex="['maxlength40']" vl-message="['经办人证件号码长度大于最大长度:[40]!']" style="width: 810px;" title="txt_zjhm" onpaste="return false" name="txt_zjhm">
											<div id="txt_zjhm_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jbr" vtitle="经s办s人s姓s名" class="form-item text-left" vl-tipsid="label_jbr_tips" title="label_jbr" name="label_jbr">经<s></s>办<s></s>人<s></s>姓<s></s>名</label>
											<div id="label_jbr_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" vl-disabled="true" id="txt_jbr" vtitle="经办人姓名" class="form-item text-left" vl-tipsid="txt_jbr_tips" vl-regex="['hascode', 'maxlength20']" vl-message="['经办人姓名不能全为数字!','经办人姓名长度大于最大长度:[20]!']" style="width: 810px;" title="txt_jbr" onpaste="return false" name="txt_jbr">
											<div id="txt_jbr_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jbr1" vtitle="经办人联系方式" class="form-item text-left" vl-tipsid="label_jbr1_tips" title="label_jbr1" name="label_jbr1">经办人联系方式</label>
											<div id="label_jbr1_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" vl-disabled="true" oncut="return false" vl-default="" id="txt_jbr1" vtitle="经办人联系方式" class="form-item text-left" vl-tipsid="txt_jbr1_tips" vl-regex="['connect','mobile', 'maxlength15']" vl-message="['','经办人联系方式输入错误!','经办人联系方式长度大于最大长度:[15]!']" style="width: 810px;" title="txt_jbr1" onpaste="return false"  name="txt_jbr1">
											<div id="txt_jbr1_tips" class="tipsmsg"></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="foot "> <span>                                    <button>退出（F3）</button>                                    <button>帮助（F1）</button>                                    <button>辅助（F4）</button>                                    <button type="button" onclick="FormReset()">重置（F5）</button></span> <span style="float: right;">                                    <button type="button" style="margin-right: 0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button></span> </div> <input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false"> <input type="hidden" class="zhanghao" value="" oncopy="return false" onpaste="return false" oncut="return false"></div><script src="~/Js/Student/GetDefaultValue/common.bank.js"></script>
              <script src="~/Js/Student/GetDefaultValue/lodash.min.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.cz.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/dwhqck002.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/dwhqck010902byxu.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/layer.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/My97DatePicker/WdatePicker.js"></script>
<script>
		
			//$("#btnsubmit").click(function(){
			//	var ye = $("#money_ye").val().replace(',','');
			//	var jyje = $("#money_jyje").val().replace(',','');
			//	var money = parseFloat(ye) + parseFloat(jyje) +'';
			//	if(money.indexOf('.')!=-1){
			//		$("#money_ye").val(money);
			//	}else{
			//		$("#money_ye").val(money + '.00');
			//	}
				
				
				
				
			//});
		</script>
<link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />
<style type="text/css">
			.bankmap {
    background-color: #4a6e9e;
    margin: auto;
    max-width: 1000px;
    min-width: 1000px;
}
		</style>
              </form>
