@{
                    ViewBag.Title = "Form_010401";
                    Layout = "~/Views/Shared/_StutentLayoutIsNull.cshtml";
                }
               <form id="form1" onsubmit="return false" action="##" method="post">
                   <input type="hidden" id="FormType" name="FormType" value="@Request["FormType"]" />
                   <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                   <input type="hidden" id="TRId" name="TRId" value="@Request["TotalResultId"]" />
                   <input type="hidden" id="ExamId" name="ExamId" value="@Request["ExamId"]" />
                   <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                   <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                   <input type="hidden" id="LinkId" name="LinkId" value="@Request["LinkId"]" />
                   <input type="hidden" id="Types" name="Types" value="2" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="banktop"> <span class="toolbar-title-img">                                    <img src="../busi/img/topleft.png">02411-支取密码维护</span> <span class="toolbar-title-close" style="display: none;">                                    <img src="../busi/img/topright.png"></span> </div>
			<div class="con-map2 selected">
				<table id="qv" class="con-map2-table">
					<tbody>
						<tr>
							<td class="" rowspan="1" colspan="1" style="width: 64px;"><label vl-default="" id="label_czlx" vtitle="操ss作ss类ss型" class="form-item text-left" vl-tipsid="label_czlx_tips" title="label_czlx" name="label_czlx">操<s></s><s></s>作<s></s><s></s>类<s></s><s></s>型</label>
								<div id="label_czlx_tips" class="tipsmsg"></div>
							</td>
							<td class="" rowspan="1" colspan="3">
								<div class="slectstyle">
									<select vl-default="2" id="sle_czlx" vtitle="操作类型" class="form-item text-left" vl-tipsid="sle_czlx_tips" vl-regex="['require', 'maxlength25']" vl-message="['操作类型不能为空！','操作类型长度大于最大长度:[25]！']" style="width: 600px;" title="sle_czlx" vl-slemodel="pwd_yzqmm,pwd_xzqmm,pwd_yzqmm,pwd_xzqmm,pwd_yzqmm,pwd_xzqmm" name="sle_czlx">
										<option disabled="" style="background-color: blue; color: #fff;" value="">操作类型值含义</option>
										<option sle-require="[{'id':'pwd_yzqmm','regex':['integer'],'tips':[''],'disabled':'true','default':''},{'id':'pwd_xzqmm','regex':['require','minlength6','maxlength6','number'],'tips':['新支取密码不能为空!','新支取密码长度为:[6]!','新支取密码长度为:[6]!','新支取密码输入错误!'],'disabled':'false','default':''}]" value="1">1 - 重置</option>
										<option sle-require="[{'id':'pwd_yzqmm','regex':['require','minlength6','maxlength6','number'],'tips':['原支取密码不能为空!','原支取密码长度为:[6]!','原支取密码长度为:[6]!','原支取密码输入错误!'],'disabled':'false*false*false*false','default':''},{'id':'pwd_xzqmm','regex':['require','minlength6','maxlength6','number'],'tips':['新支取密码不能为空!','新支取密码长度为:[6]!','新支取密码长度为:[6]!','新支取密码输入错误!'],'disabled':'false*false*false*false','default':''}]" value="2">2 - 修改</option>
										<option sle-require="[{'id':'pwd_yzqmm','regex':['integer'],'tips':[''],'disabled':'true','default':''},{'id':'pwd_xzqmm','regex':['integer'],'tips':[''],'disabled':'true','default':''}]" value="3">3 - 解锁</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb1_sleinput_CaoZuoLeiXing_2" name="mb1_sleinput_CaoZuoLeiXing_2"></div>
								<div id="sle_czlx_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 55px;"><label vl-default="" id="label_zkh" vtitle="账ss/ss卡is号" class="form-item text-left" vl-tipsid="label_zkh_tips" title="label_zkh" name="label_zkh">账<s></s><s></s>/<s></s><s></s>卡<i></i><s></s>号</label>
								<div id="label_zkh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zkh" vtitle="账/卡号" class="form-item text-left" kuaicha="true" vl-tipsid="txt_zkh_tips" vl-regex="['require', 'maxlength32', 'number']" vl-message="['账/卡号不能为空！','账/卡号长度大于最大长度:[32]！','账/卡号输入错误!']" style="width: 600px;" title="txt_zkh" onpaste="return false" name="txt_zkh"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="txt_zhmc|0|0,txt_jzzl|0|0,txt_pzhm|0|0,sle_tctdbz|0|0" vl-exec="false" vl-message="['账/卡号查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
								<div id="txt_zkh_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zhmc" vtitle="账ss户ss名ss称" class="form-item text-left" vl-tipsid="label_zhmc_tips" title="label_zhmc" name="label_zhmc">账<s></s><s></s>户<s></s><s></s>名<s></s><s></s>称</label>
								<div id="label_zhmc_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_zhmc" vtitle="账户名称" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_zhmc_tips" style="width: 600px;" title="txt_zhmc" onpaste="return false" disabled="disabled" name="txt_zhmc">
								<div id="txt_zhmc_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_jzzl" vtitle="介ss质ss种ss类" class="form-item text-left" vl-tipsid="label_jzzl_tips" title="label_jzzl" name="label_jzzl">介<s></s><s></s>质<s></s><s></s>种<s></s><s></s>类</label>
								<div id="label_jzzl_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-keyup="wwww" vl-default="" id="sle_jzzl" vtitle="介质种类" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_jzzl_tips" style="width: 180px;" vl-slemodel="" disabled="disabled" name="sle_jzzl">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">介质种类值含义</option>
										<option value="001">001 - 储蓄存折</option>
										<option value="002">002 - 惠农一折通专用存折</option>
										<option value="003">003 - 定期一本通</option>
										<option value="004">004 - 储蓄存单</option>
										<option value="005">005 - 信合借记IC卡</option>
										<option value="006">006 - 福农卡IC卡</option>
										<option value="007">007 - 合医卡IC卡</option>
										<option value="008">008-信合社保卡</option>
										<option value="009">009 - 信合居民健康卡</option>
										<option value="010">010 - 信合公务IC卡</option>
										<option value="011">011 - 股金证</option>
										<option value="012">012 - 单位定期存款开户证实书</option>
										<option value="013">013 - 单位定期存单</option>
										<option value="014">014 - 现金支票</option>
										<option value="015">015 - 转账支票</option>
										<option value="016">016 - 农信银银行汇票</option>
										<option value="017">017 - 银行承兑汇票</option>
										<option value="018">018 - 非税收入缴款书</option>
										<option value="019">019 - 印鉴卡</option>
										<option value="020">020 - 支付业务来账补充凭证</option>
										<option value="021">021 - U盾</option>
										<option value="022">022 - 贷款证（卡）</option>
										<option value="023">023 - VIP贵宾卡</option>
										<option value="024">024 - 存（贷）款余额证明书</option>
										<option value="025">025 - 存款发生额证明</option>
										<option value="026">026 - 开销户证明书</option>
										<option value="027">027 - 机构信用代码证</option>
										<option value="028">028 - 空头支票代收罚款收据</option>
										<option value="029">029 - 假币收缴凭证</option>
										<option value="030">030 - 人寿保险单</option>
										<option value="031">031 - 国寿保险单</option>
										<option value="032">032 - 股权凭证</option>
										<option value="033">033 - 联名卡</option>
										<option value="035">035 - 信合磁条卡</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_JieZhiZhongLei_8" name="mb1_sleinput_JieZhiZhongLei_8"></div>
								<div id="sle_jzzl_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_pzhm" vtitle="凭i证i号i码" class="form-item text-left" vl-tipsid="label_pzhm_tips" title="label_pzhm" name="label_pzhm">凭<i></i>证<i></i>号<i></i>码</label>
								<div id="label_pzhm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_pzhm" vtitle="凭证号码" class="form-item text-left on" vl-disabled="true" vl-tipsid="txt_pzhm_tips" vl-regex="['require']" vl-message="['凭证号码不能为空！']" style="width: 180px;" title="txt_pzhm" onpaste="return false" disabled="disabled" name="txt_pzhm"><span class="text-red redtip">!</span>
								<div id="txt_pzhm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zjlx" vtitle="证ss件ss类ss型" class="form-item text-left" vl-tipsid="label_zjlx_tips" title="label_zjlx" name="label_zjlx">证<s></s><s></s>件<s></s><s></s>类<s></s><s></s>型</label>
								<div id="label_zjlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="1" id="sle_zjlx" vtitle="证件类型" class="form-item text-left" vl-tipsid="sle_zjlx_tips" vl-regex="['require']" vl-message="['证件类型不能为空！']" style="width: 180px;" title="sle_zjlx" vl-slemodel="txt_zjhm,txt_zjhm,txt_zjhm" name="sle_zjlx">
										<option disabled="" style="background-color: blue; color: #fff;" value="">证件类型值含义</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="1">1 - 居民身份证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="2">2 - 临时居民身份证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="3">3 - 居民户口簿（16周岁以下）</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="4">4 - 军官证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="5">5 - 警官证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="6">6 - 士兵证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="7">7 - 军队学员证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="8">8 - 军队文职干部证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="9">9 - 军队离退休干部证和军队职员证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="10">10 - 中国护照</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="11">11 - 护照（外国公民）</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="12">12 - 海员证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="13">13 - 港澳同胞回乡证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="14">14 - 港澳居民来往大陆通行证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="15">15 - 中华人民共和国网络港澳通行证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="16">16 - 台湾居民来往大陆通行证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="17">17 - 大陆居民往来台湾通行证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="18">18 - 外国人居留证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="19">19 - 外国人出入境证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="20">20 - 外交官证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="21">21 - 领事馆证</option>
										<option sle-require="[{'id':'txt_zjhm','regex':['maxlength40'],'tips':['证件号码长度大于最大长度:[40]!'],'disabled':'false*false*false','default':''}]" value="22">22 - 其他</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_ZhengJianLeiXing_12" name="mb1_sleinput_ZhengJianLeiXing_12"></div>
								<div id="sle_zjlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_zjhm" vtitle="证i件i号i码" class="form-item text-left" vl-tipsid="label_zjhm_tips" title="label_zjhm" name="label_zjhm">证<i></i>件<i></i>号<i></i>码</label>
								<div id="label_zjhm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_zjhm" vtitle="证件号码" class="form-item text-left" kuaicha="true" vl-tipsid="txt_zjhm_tips" vl-regex="['require','maxlength20','idcard']" vl-message="['证件号码不能为空！','证件号码长度超过最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！']" style="width: 180px;" title="txt_zjhm" onpaste="return false" name="txt_zjhm"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['证件号码查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
								<div id="txt_zjhm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_yzqmm" vtitle="原s支s取s密s码" class="form-item text-left" vl-tipsid="label_yzqmm_tips" title="label_yzqmm" name="label_yzqmm">原<s></s>支<s></s>取<s></s>密<s></s>码</label>
								<div id="label_yzqmm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="password" oncopy="return false" onpaste="return false" oncut="return false" vl-default="" id="pwd_yzqmm" vtitle="原支取密码" class="form-item text-left" kuaicha="true" vl-tipsid="pwd_yzqmm_tips" vl-regex="['minlength6', 'maxlength6', 'number']" vl-message="['原支取密码长度为:[6]!','原支取密码长度为:[6]!','原支取密码输入错误!']" style="width: 180px;" title="pwd_yzqmm" name="pwd_yzqmm"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['原支取密码查询未执行！']" title="执行快查！">
								<div id="pwd_yzqmm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_xzqmm" vtitle="新s支s取s密s码" class="form-item text-left" vl-tipsid="label_xzqmm_tips" title="label_xzqmm" name="label_xzqmm">新<s></s>支<s></s>取<s></s>密<s></s>码</label>
								<div id="label_xzqmm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="password" oncopy="return false" onpaste="return false" oncut="return false" vl-default="" id="pwd_xzqmm" vtitle="新支取密码" class="form-item text-left" vl-tipsid="pwd_xzqmm_tips" vl-regex="['require', 'minlength6', 'maxlength6', 'number']" vl-message="['新密码不能为空！','新支取密码长度为:[6]！','新支取密码长度为:[6]!','新支取密码输入错误!']" style="width: 180px;" title="pwd_xzqmm" name="pwd_xzqmm"><span class="text-red redtip">!</span>
								<div id="pwd_xzqmm_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_tctdbz" vtitle="通s存s通兑标志" class="form-item text-left" vl-tipsid="label_tctdbz_tips" title="label_tctdbz" name="label_tctdbz">通<s></s>存<s></s>通兑标志</label>
								<div id="label_tctdbz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_tctdbz" vtitle="通存通兑标志" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_tctdbz_tips" style="width: 600px;" title="sle_tctdbz" vl-slemodel="" disabled="disabled" name="sle_tctdbz">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">通存通兑标志值含义</option>
										<option value="Y">Y - 通存通兑</option>
										<option value="N">N - 不可通存通兑</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 577px;" id="mb1_sleinput_TongCunTongDuiBiaoZhi_20" name="mb1_sleinput_TongCunTongDuiBiaoZhi_20"></div>
								<div id="sle_tctdbz_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_dlrzjlx" vtitle="代理人证件类型" class="form-item text-left" vl-tipsid="label_dlrzjlx_tips" title="label_dlrzjlx" name="label_dlrzjlx">代理人证件类型</label>
								<div id="label_dlrzjlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_dlrzjlx" vtitle="代理人证件类型" class="form-item text-left" vl-tipsid="sle_dlrzjlx_tips" style="width: 180px;" title="sle_dlrzjlx" vl-slemodel="txt_dlrzjlx,txt_dlrzjlx,txt_dlrzjlx" name="sle_dlrzjlx">
										<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码身份证号长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="2" selected="selected">1 - 居民身份证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码身份证号长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="2">2 - 临时居民身份证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength20','idcard'],'tips':['证件号码不能为空!','证件号码身份证号长度大于最大长度:[20]!','证件号码身份证位数不正确(应为15位或者18位)！'],'disabled':'false*false*false','default':''}]" value="3">3 - 居民户口簿（16周岁以下）</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码军官证不能为空!','证件号码军官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="4">4 - 军官证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码警官证不能为空!','证件号码警官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="5">5 - 警官证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码士兵证不能为空!','证件号码士兵证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="6">6 - 士兵证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码军队学员证不能为空!','证件号码军队学员证长度大于最大长度:[40]!'],'disabled'" 'false*false','default':''}]="" value="7">7 - 军队学员证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码军队文职干部证不能为空!','证件号码军队文职干部证长度大于最大长度:[40]!'],'disabled':" 'false*false','default':''}]="" value="8">8 - 军队文职干部证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码军队离退休干部证和军队职员证不能为空!'," '证件号码军队离退休干部证和军队职员证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]="" value="9">9 - 军队离退休干部证和军队职员证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码中国护照不能为空!','证件号码中国护照长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="10">10 - 中国护照</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码护照（外国公民）不能为空!','证件号码护照（外国公民）长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="11">11 - 护照（外国公民）</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码海员证不能为空!','证件号码海员证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="12">12 - 海员证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码港澳同胞回乡证不能为空!','证件号码港澳同胞回乡证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="13">13 - 港澳同胞回乡证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码港澳居民来往大陆通行证不能为空!','证件号码港澳居民来往大陆通行证长度大于最大长度:[40]!'],'disabled':'false*false'," 'default':''}]="" value="14">14 - 港澳居民来往大陆通行证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码中华人民共和国网络港澳通行证不能为空!','证件号码中华人民共和国网络港澳通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="15">15 - 中华人民共和国网络港澳通行证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码台湾居民来往大陆通行证不能为空!','证件号码台湾居民来往大陆通行证长度大于最大长度:[40]!'],'disabled':'false*false','default''*'}]" value="16">16 - 台湾居民来往大陆通行证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码大陆居民往来台湾通行证不能为空!','证件号码大陆居民往来台湾通行证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="17">17 - 大陆居民往来台湾通行证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码外国人居留证不能为空!','证件号码外国人居留证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="18">18 - 外国人居留证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码外国人出入境证不能为空!','证件号码外国人出入境证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="19">19 - 外国人出入境证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码外交官证不能为空!','证件号码外交官证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="20">20 - 外交官证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码领事馆证不能为空!','证件号码领事馆证长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="21">21 - 领事馆证</option>
													<option sle-require="[{'id':'txt_dlrzjlx','regex':['require','maxlength40'],'tips':['证件号码其他不能为空!','证件号码其他长度大于最大长度:[40]!'],'disabled':'false*false','default':''}]" value="22">22 - 其他</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_DaiLiRenZhengJianLeiXing_22" name="mb1_sleinput_DaiLiRenZhengJianLeiXing_22"></div>
								<div id="sle_dlrzjlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_dlrzjhm" vtitle="代理人证件号码" class="form-item text-left" vl-tipsid="label_dlrzjhm_tips" title="label_dlrzjhm" name="label_dlrzjhm">代理人证件号码</label>
								<div id="label_dlrzjhm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_dlrzjlx" vtitle="代理人证件类型" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_dlrzjlx_tips" vl-message="['代理人证件号码长度大于最大长度:[40]!']" vl-rely="sle_dlrzjlx" style="width: 180px;" title="txt_dlrzjlx" onpaste="return false" disabled="disabled" maxlength="0" name="txt_dlrzjlx">
								<div id="txt_dlrzjlx_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_dlrxm" vtitle="代s理s人s姓s名" class="form-item text-left" vl-tipsid="label_dlrxm_tips" title="label_dlrxm" name="label_dlrxm">代<s></s>理<s></s>人<s></s>姓<s></s>名</label>
								<div id="label_dlrxm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_dlrxm" vtitle="代理人姓名" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_dlrxm_tips" vl-message="['代理人姓名不能全为数字!','代理人姓名长度大于最大长度:[20]!']" vl-rely="sle_dlrzjlx" style="width: 180px;" title="txt_dlrxm" onpaste="return false" disabled="disabled" maxlength="0" name="txt_dlrxm">
								<div id="txt_dlrxm_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_dlrlxfs" vtitle="代理人联系方式" class="form-item text-left" vl-tipsid="label_dlrlxfs_tips" title="label_dlrlxfs" name="label_dlrlxfs">代理人联系方式</label>
								<div id="label_dlrlxfs_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_dlrlxfs" vtitle="代理人联系方式" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_dlrlxfs_tips" vl-message="['代理人联系方式长度大于最大长度:[15]!','代理人联系方式输入错误!']" vl-rely="sle_dlrzjlx" style="width: 180px;" title="txt_dlrlxfs" onpaste="return false" disabled="disabled" maxlength="0" name="txt_dlrlxfs">
								<div id="txt_dlrlxfs_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="foot "> <span>                                    <button>退出（F3）</button>                                    <button>帮助（F1）</button>                                    <button>辅助（F4）</button>                                    <button type="button" onclick="FormReset()">重置（F5）</button></span> <span style="float: right;">                                    <button type="button" style="margin-right: 0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button></span> </div> <input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false"> </div><script src="~/Js/Student/GetDefaultValue/common.bank.js"></script>
              <script src="~/Js/Student/GetDefaultValue/lodash.min.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.cz.js"></script>
              <script src="~/Js/Student/GetDefaultValue/common.regex.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/zqmmwh010401byxu.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/layer.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/My97DatePicker/WdatePicker.js"></script>
<script src="~/Js/Student/GetDefaultValue/js/zqmmwh001.js">
		</script>
<link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />
              </form>
