@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <!--框架自带自定义样式-->
    <link href="~/CSS/style.css" rel="stylesheet" />
    <link href="~/CSS/plugins/iCheck/custom.css" rel="stylesheet" />
    <!--弹窗插件样式-->
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />

    <!-- Mainly scripts  主体js -->
    <script src="~/Scripts/jquery-3.2.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>


    <!-- Custom and plugin javascript   自定义和插件js -->
    <script src="~/Scripts/hplus.js?v=2.2.0"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <!--弹窗js-->
    <script src="~/Scripts/layer/layer.js"></script>
    <!--头像上传插件-->
    <script src="~/Scripts/cropbox.js"></script>
    <!--验证-->
    <script src="~/Scripts/verifyform.js"></script>
    <!--分页-->
    <script src="~/Scripts/Page.js"></script>
    <!--时间插件js-->
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>

    <script src="~/Scripts/jquery.form.js"></script>

    <script src="~/Js/CheckTimeOut.js"></script>

    <style type="text/css">
        /* 添加的分页样式*/
        .boder_right {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .paginate_button input {
            border: none;
            width: 90px;
            height: 26px;
            text-align: center;
        }

            .paginate_button input:focus {
                outline: none;
            }

        .pagesize {
            display: inherit;
            margin-left: 5px !important;
            border: none !important;
        }

            .pagesize:hover {
                background: none !important;
            }
    </style>
    <script type="text/javascript">
        //退出系统
        function onout() {
            layer.confirm('确认要退出登录吗？', {
                btn: ['确认', '取消'], //按钮
                skin: 'layui-layer-lan',
                title: '退出登录',
            }, function () {//确认
                window.location.href = '/Logout';
            });
        }
    </script>
</head>

<body>
    <div id="wrapper">
        <!--左侧菜单栏开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="m-b-sm" style="border-bottom: 2px solid #2a3845; padding-bottom: 10px;">
                        <div class=" profile-element text-center  text-navy">
                            <h2 class="font-bold ">
                                银行虚拟仿真实训<br />
                            </h2>
                            @if (Convert.ToInt32(Session["UserType"]) == 1)
                            {
                                <h4>管理员端</h4>
                            }
                            @if (Convert.ToInt32(Session["UserType"]) == 2)
                            {
                                <h4>教师端</h4>
                            }
                        </div>
                        <div class="logo-element">
                            银行虚拟<br />
                            实训
                        </div>
                    </li>

                    <!--管理员-->
                    @if (Convert.ToInt32(Session["UserType"]) == 1)
                    {
                        <!--组织架构管理-->
                        <li class="li">
                            <a href="#"><i class="fa fa-sitemap"></i><span class="nav-label">组织架构管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "SchoolManage")">学校管理</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "CollegeManage")">学院管理</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Major", "MajorOrTeacher")">专业管理</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Teacher", "MajorOrTeacher")">教师管理</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "ClassManagement")">班级管理</a>
                                </li>
                            </ul>
                        </li>

                        <li class="li">
                            <a href="#"><i class="fa fa-sitemap"></i><span class="nav-label">实务教学管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "Curriculum")">课程管理</a>
                                </li>

                                <li>
                                    <a class="alick" href="@Url.Action("Index", "Resources")">课件管理</a>
                                </li>

                            </ul>
                        </li>

                        <!--案例设置-->
                        <li class="li">
                            <a href="#"><i class="fa fa-object-group"></i><span class="nav-label">实训案例管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="/Admin/CaseManagement">案例管理</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "Product")">产品列表</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "ProcessAnalysis")">流程解析</a>
                                </li>
                            </ul>
                        </li>
                        <!--考试管理-->
                        <li class="li">
                            <a href="#"><i class="fa fa-object-group"></i><span class="nav-label">理论试题管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                @*<li>
                                        <a class="alick" href="/Admin/HB_QuestionBQ/Index?AllType=1">试题标签</a>
                                    </li>*@
                                <li>
                                    <a class="alick" href="/Admin/HB_QuestionBank/Index?AllType=1">试题管理</a>
                                </li>
                                 <li>
                                     <a class="alick" href="/Admin/HB_Paper/Index?AllType=1">试卷管理</a>
                                </li>
                                 <li>
                                     <a class="alick" href="/Admin/PracticeResult/Index">试卷解析</a>
                                </li>
                                @*<li>
                                    <a class="alick" href="/Admin/RemoveTeacherExam/Index">教师试卷转移</a>
                                </li>*@

                            </ul>
                        </li>
                        <!--考试管理-->
                        @*<li class="li">
                                <a href="#"><i class="fa fa-gears"></i><span class="nav-label">考试管理</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="alick" href="@Url.Action("Index", "ExamineRank")">排名管理</a>
                                    </li>
                                </ul>
                            </li>*@

                        <!--系统管理-->
                        <li class="li">
                            <a href="#"><i class="fa fa-object-group"></i><span class="nav-label">系统管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="/Admin/Noticeboard/Index?AllType=1">公告栏</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/SystemParameter/Index">系统参数</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/DB/Index">数据库配置</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/ExamSetting/Index">考核成绩设定</a>
                                </li>
                                <li>
                                    @*<a class="alick" href="/Admin/SystemParameter/Index">业务授权设置</a>*@
                                    <a class="alick" href="/Admin/SystemParameter/Empowe">业务授权设置</a>
                                </li>
                            </ul>
                        </li>

                        <!--个人中心-->
                        <li class="li">
                            <a href="#"><i class="fa fa-user-plus"></i><span class="nav-label">个人中心</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "AdminPwd")">修改密码</a>
                                </li>
                            </ul>
                        </li>

                    }
                    <!--教师端-->
                    @if (Convert.ToInt32(Session["UserType"]) == 2)
                    {
                        <!--组织架构管理-->
                        <li class="li">
                            <a href="#"><i class="fa fa-sitemap"></i><span class="nav-label">组织架构管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "TeacherClassManagement")">我的班级</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "TeamManagement")">团队管理</a>
                                </li>
                                @*<li>
                                    <a class="alick" href="@Url.Action("Index", "Teachinghours")">课时安排</a>
                                </li>*@
                              

                            </ul>
                        </li>
                        <li class="li">
                            <a href="#"><i class="fa fa-sitemap"></i><span class="nav-label">实务教学管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "Curriculum")">课程管理</a>
                                </li>

                                <li>
                                    <a class="alick" href="@Url.Action("Index", "Resources")">课件管理</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "HB_Practice")">课后习题</a>
                                </li>

                            </ul>
                        </li>
                        <!--案例设置-->
                        <li class="li">
                            <a href="#"><i class="fa fa-object-group"></i><span class="nav-label">实训案例管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="/Admin/CaseManagement">案例管理</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "Product")">产品列表</a>
                                </li>
                            </ul>
                        </li>

                        <li class="li">
                            <a href="#"><i class="fa fa-object-group"></i><span class="nav-label">理论试题管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            
                                <li>
                                    <a class="alick" href="/Admin/HB_QuestionBank/Index?AllType=2">试题管理</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/HB_Paper/Index?AllType=2">试卷管理</a>
                                </li>
                            </ul>
                        </li>

                        <!--考试设置管理-->
                        <li class="li">
                            <a href="#"><i class="fa fa-gears"></i><span class="nav-label">考试管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "HB_Examination")">理论考核设置</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/PersonalTraining/Index?AllType=1">个人实训考核</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/PersonalTraining/Index?AllType=2">团队实训考核</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "ExamineRank")">排名管理</a>
                                </li>
                            </ul>
                        </li>
                        <!--考试成绩-->
                        <li class="li">
                            <a href="#"><i class="fa fa-gears"></i><span class="nav-label">成绩管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a class="alick" href="@Url.Action("Index", "HB_ExamResult")">理论考核成绩</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/PersonalTrainingEnd/Index?AllType=1">个人实训成绩</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/PersonalTrainingEnd/Index?AllType=2">团队实训成绩</a>
                                </li>

                            </ul>
                        </li>

                        <!--系统管理-->
                        <li class="li">
                            <a href="#"><i class="fa fa-object-group"></i><span class="nav-label">系统管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="/Admin/Noticeboard/Index?AllType=2">公告栏</a>
                                </li>
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "HB_QuestionBQ",new{ AllType=2})">分类标签</a>
                                </li>
                                <li>
                                    <a class="alick" href="/Admin/SystemParameter/Empowe">业务授权设置</a>
                                </li>
                            </ul>
                        </li>
                        <!--个人中心-->
                        <li class="li">
                            <a href="#"><i class="fa fa-user-plus"></i><span class="nav-label">个人中心</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="alick" href="@Url.Action("Index", "AdminPwd")">修改密码</a>
                                </li>
                            </ul>
                        </li>
                    }


                </ul>
            </div>
        </nav>
        <!--左侧菜单栏结束-->
        <!--右侧内容区域开始-->
        <div id="page-wrapper" class="white-bg dashbard-1">
            <!--右侧头部开始-->
            <div class="row  border-bottom">
                <nav class="navbar  gray-bg" role="navigation" style="margin-bottom: 0">
                    <!--菜单收缩按钮-->
                    <div class="navbar-header m-t-xs">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-exchange"></i></a>
                    </div>

                    <ul class="nav navbar-top-links navbar-left m-t-lg">
                        <li>
                            @if (Convert.ToInt32(Session["UserType"]) == 1)
                            {
                                <span><a href="/Admin/SchoolManage" title="返回首页"><i style="font-size: 20px;" class="fa fa-home"></i></a>首页</span>
                            }
                            @if (Convert.ToInt32(Session["UserType"]) == 2)
                            {
                                <span><a href="/Admin/TeacherClassManagement" title="返回首页"><i style="font-size: 20px;" class="fa fa-home"></i></a>首页</span>
                            }
                        </li>
                    </ul>
                    <!--菜单收缩按钮结束-->
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="javascript:void(0)" onclick="onout()">
                                <i class="fa fa-sign-out"></i>退出
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--右侧头部结束-->
            <div id="body">
                <!--内容区域模版开始-->
                @RenderSection("featured", required: false)
                <section class="gray-bg">
                    @RenderBody()
                </section>
                <!--内容区域模版结束-->
            </div>
            @RenderSection("scripts", required: false)

            <!--主体内容结束-->
            <!--底部版权开始-->
            <div class="footer gray-bg">
                <div class="text-center">
                    <strong>Copyright</strong> 版权所有&copy;<strong> 2013 - 2019 深圳典阅科技有限公司</strong>
                </div>
            </div>
            <!--底部版权结束-->

        </div>
        <!--右侧内容区域结束-->
    </div>
</body>
@{
    string nvc = "";
    if (ViewData["nvc"] != null)
    {
        nvc = ViewData["nvc"].ToString();
    }
}
</html>

<script type="text/javascript">

    $(function () {
        sy();
    })
    function sy() {
        var strurl = window.location.pathname + "";
        var newurl = strurl.substring(strurl.lastIndexOf('/', 2));
        var search = window.location.search + "";
        $("a.alick").each(function () {
            var url = $(this).attr("href");
            var txt = $(this).html();

            if (url == newurl || txt == "@nvc") {
                $(this).parent().addClass("active")
                $(this).parent().parent().parent().addClass("active")
                $(this).parent().parent().addClass("in")
                $(this).parent().parent().attr("aria-expanded", "true")
            }

        })
    }
</script>
